# A/B Testing Simulation

In this notebook, a user has a hidden preference within a single query. We use this to explore A/B testing. 

Of course, this problem needs to be multiplied over millions of queries!

1. The last judgments from chapter 11
2. Fully train a model w/ two feature sets (turn ch 11 auto LTR notebook into function) 
3. Simulate user interaction w/ rankings

In [43]:
import numpy as np
import pandas as pd
import random; random.seed(0)
import glob

import requests
import sys
sys.path.append('..')
from ltr.client.solr_client import SolrClient

client = SolrClient(host='http://aips-solr:8983/solr')

In [44]:
def all_sessions():
    sessions = pd.concat([pd.read_csv(f, compression='gzip')
                          for f in glob.glob('retrotech/sessions/*_sessions.gz')])
    return sessions.rename(columns={'clicked_doc_id': 'doc_id'})
    
sessions = all_sessions()
sessions

       sess_id                          query  rank         doc_id  clicked
0        15002                         kindle   0.0  9781400532711     True
1        15002                         kindle   1.0   814916011872    False
2        15002                         kindle   2.0   813580018491    False
3        15002                         kindle   3.0   814916014606    False
4        15002                         kindle   4.0   813580017906    False
...        ...                            ...   ...            ...      ...
74995     5001  transformers dark of the moon  10.0    47875841369    False
74996     5001  transformers dark of the moon  11.0    97363560449    False
74997     5001  transformers dark of the moon  12.0    93624956037    False
74998     5001  transformers dark of the moon  13.0    97363532149    False
74999     5001  transformers dark of the moon  14.0   400192926087    False

[1775000 rows x 5 columns]

In [45]:
sessions['query'].unique()

array(['kindle', 'blue ray', 'star wars', 'macbook', 'headphones',
       'bluray', 'lcd tv', 'dryer', 'nook', 'ipad', 'star trek', 'iphone',
       'transformers dark of the moon'], dtype=object)

In [46]:
new_sessions = sessions[sessions['query'] == 'macbook'].copy()

In [5]:
random.seed(0)

# Make two queries identical, except for the query
# TODO? Randomly flip some of the clicked bools, but this might make it non deterministic
def copy_query_sessions(sessions, src_query, dest_query):
    new_sessions = sessions[sessions['query'] == src_query].copy()  
    new_sessions['draw'] = np.random.rand(len(new_sessions), 1)
    # unclick some in the new query for a bit of noise
    new_sessions[new_sessions['clicked'] & (new_sessions['draw'] < 0.04)]['clicked'] = False
    new_sessions['query'] = dest_query
    return pd.concat([sessions, new_sessions.drop('draw', axis=1)])

sessions = copy_query_sessions(sessions, 'transformers dark of the moon', 'transformers dark of moon')
sessions = copy_query_sessions(sessions, 'transformers dark of the moon', 'dark of moon')
sessions = copy_query_sessions(sessions, 'transformers dark of the moon', 'dark of the moon')
sessions = copy_query_sessions(sessions, 'headphones', 'head phones')
sessions = copy_query_sessions(sessions, 'lcd tv', 'lcd television')
sessions = copy_query_sessions(sessions, 'lcd tv', 'television, lcd')
sessions = copy_query_sessions(sessions, 'macbook', 'apple laptop')
sessions = copy_query_sessions(sessions, 'iphone', 'apple iphone')
sessions = copy_query_sessions(sessions, 'kindle', 'amazon kindle')
sessions = copy_query_sessions(sessions, 'kindle', 'amazon ereader')
sessions = copy_query_sessions(sessions, 'blue ray', 'blueray')





sessions

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        sess_id    query  rank         doc_id  clicked
0         15002   kindle   0.0  9781400532711     True
1         15002   kindle   1.0   814916011872    False
2         15002   kindle   2.0   813580018491    False
3         15002   kindle   3.0   814916014606    False
4         15002   kindle   4.0   813580017906    False
...         ...      ...   ...            ...      ...
149995    55001  blueray  25.0    22265004517    False
149996    55001  blueray  26.0   885170038875    False
149997    55001  blueray  27.0   786936817232    False
149998    55001  blueray  28.0   600603132872    False
149999    55001  blueray  29.0    27242815414    False

[3200000 rows x 5 columns]

In [47]:
sessions['query'].unique()

array(['kindle', 'blue ray', 'star wars', 'macbook', 'headphones',
       'bluray', 'lcd tv', 'dryer', 'nook', 'ipad', 'star trek', 'iphone',
       'transformers dark of the moon'], dtype=object)

## Inject bias for transformers / transformers dvd

This simulates biased sessions in the data, as if the user never actually sees (and hence never clicks) their actual desired item. If the users desired results are shown, those results get a higher probability of click. Otherwise there is a lower probability of clicks.

In [48]:
next_sess_id = sessions['sess_id'].max()

# For some reason, the sessions only capture examines on the 'dubbed' transformers movies
# ie the Japanese shows brought to an English-speaking market. But we'll see this is not what the 
# user wants (ie presentation bias). These are 'meh' mildly interesting. There are also many many
# completely irrelevant movies.

# What the user wants, but never visible! Never gets clicked!
# These are the widescreen transformers dvds of the hollywood movies
desired_movies = ["97360724240", "97360722345", "97368920347"] 

# Bunch of random merchandise
irrelevant_transformers_products = ["708056579739", "93624995012", "47875819733", "47875839090", "708056579746",
                                     "47875332911", "47875842328", "879862003524", "879862003517", "93624974918",
                                     ] 

# Other transformer movies
meh_transformers_movies = ["97363455349", "97361312743", "97361372389", "97361312804", "97363532149", "97363560449"]

displayed_transformer_products = meh_transformers_movies + irrelevant_transformers_products

new_sessions = []
for i in range(0,5000):
    random.shuffle(displayed_transformer_products)

    # shuffle each session
    for rank, upc in enumerate(displayed_transformer_products):
        clicked = False
        draw = random.random()

        if upc in meh_transformers_movies:
            if draw < 0.13:
                clicked = True
        elif upc in irrelevant_transformers_products:
            if draw < 0.005:
                clicked = True
        elif upc in desired_transformers_movies:
            if draw < 0.65:
                clicked = True

        new_sessions.append({'sess_id': next_sess_id + i, 
                             'query': 'transformers dvd', 
                             'rank': rank,
                             'clicked': clicked,
                             'doc_id': upc
                             })


sessions = sessions.append(new_sessions)

## Chapter 11 In One Function (omitted) 

Wrapping up Chapter 11 in a single function `sessions_to_sdbn`

In [49]:
def sessions_to_sdbn(sessions, prior_weight=10, prior_grade=0.2) -> pd.DataFrame:
    """ Compute SDBN of the provided query as a dataframe.
        Where we left off at end of 'overcoming confidence bias' 
        """
    all_sdbn = pd.DataFrame()
    for query in sessions['query'].unique():
        sdbn_sessions = sessions[sessions['query'] == query].copy().set_index('sess_id')

        last_click_per_session = sdbn_sessions.groupby(['clicked', 'sess_id'])['rank'].max()[True]

        sdbn_sessions['last_click_rank'] = last_click_per_session
        sdbn_sessions['examined'] = sdbn_sessions['rank'] <= sdbn_sessions['last_click_rank']

        sdbn = sdbn_sessions[sdbn_sessions['examined']].groupby('doc_id')[['clicked', 'examined']].sum()
        sdbn['grade'] = sdbn['clicked'] / sdbn['examined']
        sdbn['query'] = query

        sdbn = sdbn.sort_values('grade', ascending=False)

        sdbn['prior_a'] = prior_grade*prior_weight
        sdbn['prior_b'] = (1-prior_grade)*prior_weight

        sdbn['posterior_a'] = sdbn['prior_a'] +  sdbn['clicked']
        sdbn['posterior_b'] = sdbn['prior_b'] + (sdbn['examined'] - sdbn['clicked'])

        sdbn['beta_grade'] = sdbn['posterior_a'] / (sdbn['posterior_a'] + sdbn['posterior_b'])

        sdbn.sort_values('beta_grade', ascending=False)
        all_sdbn = all_sdbn.append(sdbn)
    return all_sdbn[['query', 'clicked', 'examined', 'grade', 'beta_grade']].reset_index().set_index(['query', 'doc_id'])

queries = ['dryer', 'bluray', 'blue ray', 'headphones', 'ipad', 'iphone',
           'kindle', 'lcd tv', 'macbook', 'nook', 'star trek', 'star wars',
           'transformers dark of the moon']

## Listing 12.1 Use Convert Raw Sessions to SDBN

In this listing we user our "chapter 11 in one function" `sessions_to_sdbn` to rebuild training data.

In [50]:
sdbn = sessions_to_sdbn(sessions,
                        prior_weight=10,
                        prior_grade=0.2)
sdbn

                                clicked  examined     grade  beta_grade
query            doc_id
kindle           814916011896       208       453  0.459161    0.453564
                 9781400532711      915      2046  0.447214    0.446012
                 814916014361       244       824  0.296117    0.294964
                 814916011872       458      1593  0.287508    0.286962
                 814916014590       148       520  0.284615    0.283019
...                                 ...       ...       ...         ...
transformers dvd 47875819733         24      1679  0.014294    0.015394
                 708056579739        23      1659  0.013864    0.014979
                 879862003524        23      1685  0.013650    0.014749
                 93624974918         19      1653  0.011494    0.012628
                 47875839090         16      1669  0.009587    0.010721

[368 rows x 4 columns]

## Chapter 10 Functions (omitted from book)

All of the following are support functions for the chapter:

1. Convert the sdbn dataframe into individual `Judgment` objects needed for training the model from chapter 10
2. Pairwise transformation of the data
3. Normalization of the data
4. Training the model
5. Uploading the model to Solr

All of these steps are covered in Chapter 10.

In [51]:
import requests
import numpy as np
from ltr.judgments import judgments_from_file, judgments_to_nparray
from sklearn import svm
import json
import math
from itertools import groupby
from ltr.log import FeatureLogger
from ltr.judgments import judgments_open
from itertools import groupby
from ltr import download
from ltr.judgments import judgments_writer

from ltr.judgments import Judgment

def sdbn_to_judgments(sdbn):
    """Turn pandas dataframe into ltr judgments objects."""
    judgments = []
    queries = {}
    next_qid = 0
    for row_dict in sdbn.reset_index().to_dict(orient="records"):
        # Round grade to 10ths, Map 0.3 -> 3, etc
        grade = round(row_dict['beta_grade'], 1) * 10
        qid = -1
        if row_dict['query'] in queries:
            qid = queries[row_dict['query']]
        else:
            queries[row_dict['query']] = next_qid
            qid = next_qid
            next_qid += 1
        assert qid != -1
        
        judgments.append(Judgment(doc_id=row_dict['doc_id'],
                                  keywords=row_dict['query'],
                                  qid=qid,
                                  grade=int(grade))
                        )
    return judgments


sdbn_to_judgments(sdbn)


def write_judgments(judgments, dest='retrotech_judgments.txt'):
    with judgments_writer(open(dest, 'wt')) as writer:
        for judgment in judgments:
            writer.write(judgment)
            
write_judgments(sdbn_to_judgments(sdbn))
!cat retrotech_judgments.txt


def normalize_features(logged_judgments):
    all_features = []
    means = [0] * len(logged_judgments[0].features)
    for judgment in logged_judgments:
        for idx, f in enumerate(judgment.features):
            means[idx] += f
        all_features.append(judgment.features)
    
    for i in range(len(means)):
        means[i] /= len(logged_judgments)
      
    std_devs = [0.0] * len(logged_judgments[0].features)
    for judgment in logged_judgments:
        for idx, f in enumerate(judgment.features):
            std_devs[idx] += (f - means[idx])**2
            
    for i in range(len(std_devs)):
        std_devs[i] /= len(logged_judgments)
        std_devs[i] = math.sqrt(std_devs[i])
        
    # Normalize!
    normed_judgments = []
    for judgment in logged_judgments:
        normed_features = [0.0] * len(judgment.features)
        for idx, f in enumerate(judgment.features):
            normed = 0.0
            if std_devs[idx] > 0: 
                normed = (f - means[idx]) / std_devs[idx]
            normed_features[idx] = normed
        normed_judgment=Judgment(qid=judgment.qid,
                                 keywords=judgment.keywords,
                                 doc_id=judgment.doc_id,
                                 grade=judgment.grade,
                                 features=normed_features)
        normed_judgment.old_features=judgment.features
        normed_judgments.append(normed_judgment)

    return means, std_devs, normed_judgments


def pairwise_transform(normed_judgments, weigh_difference = True):
        
    predictor_deltas = []
    feature_deltas = []
    
    # For each query's judgments
    for qid, query_judgments in groupby(normed_judgments, key=lambda j: j.qid):

        # Annoying issue consuming python iterators, we ensure we have two
        # full copies of each query's judgments
        query_judgments_copy_1 = list(query_judgments) 
        query_judgments_copy_2 = list(query_judgments_copy_1)

        # Examine every judgment combo for this query, 
        # if they're different, store the pairwise difference:
        # +1 if judgment1 more relevant
        # -1 if judgment2 more relevant
        for judgment1 in query_judgments_copy_1:
            for judgment2 in query_judgments_copy_2:
                
                j1_features=np.array(judgment1.features)
                j2_features=np.array(judgment2.features)
                
                if judgment1.grade > judgment2.grade:
                    diff = judgment1.grade - judgment2.grade if weigh_difference else 1.0
                    predictor_deltas.append(+1)
                    feature_deltas.append(diff * (j1_features-j2_features))
                elif judgment1.grade < judgment2.grade:
                    diff = judgment2.grade - judgment1.grade if weigh_difference else 1.0
                    predictor_deltas.append(-1)
                    feature_deltas.append(diff * (j1_features-j2_features))

    # For training purposes, we return these as numpy arrays
    return np.array(feature_deltas), np.array(predictor_deltas)

def upload_model(model, model_name, means, std_devs, feature_set):

    linear_model = {
      "store": "test",
      "class": "org.apache.solr.ltr.model.LinearModel",
      "name": model_name,
      "features": [
      ],
      "params": {
          "weights": {
          }
      }
    }

    ftr_model = {}
    ftr_names = [ftr['name'] for ftr in feature_set]
    for idx, ftr_name in enumerate(ftr_names):
        config = {
            "name": ftr_name,
            "norm": {
                "class": "org.apache.solr.ltr.norm.StandardNormalizer",
                "params": {
                    "avg": str(means[idx]),
                    "std": str(std_devs[idx])
                }
            }
        }
        linear_model['features'].append(config)
        linear_model['params']['weights'][ftr_name] =  model.coef_[0][idx] 

    print("PUT http://aips-solr:8983/solr/products/schema/model-store")
    print(json.dumps(linear_model, indent=2))

    # Delete old model
    resp = requests.delete('http://aips-solr:8983/solr/products/schema/model-store/test_model')


    # Upload the model
    resp = requests.put('http://aips-solr:8983/solr/products/schema/model-store', json=linear_model)
    resp.text
    
    
## TODO - can't easily to test/train split on these few queries
##   make more queries?

def ranksvm_ltr(sdbn, model_name, feature_set):
    """Train a RankSVM model via Solr, store in Solr."""
    judgments = sdbn_to_judgments(sdbn)
    judgments_path = 'retrotech_judgments.txt'
    write_judgments(judgments, judgments_path)
    
    # For more on this code, review Chapter 10
    requests.delete('http://aips-solr:8983/solr/products/schema/feature-store/test')
    
    resp = requests.put('http://aips-solr:8983/solr/products/schema/feature-store',
                    json=feature_set)

    ftr_logger=FeatureLogger(client, index='products', feature_set='test', id_field='upc')

    with judgments_open(judgments_path) as judgment_list:
        for qid, query_judgments in groupby(judgments, key=lambda j: j.qid):
            ftr_logger.log_for_qid(judgments=query_judgments, 
                                   qid=qid,
                                   keywords=judgment_list.keywords(qid))

    logged_judgments = ftr_logger.logged
    means, std_devs, normed_judgments = normalize_features(logged_judgments)
    feature_deltas, predictor_deltas = pairwise_transform(normed_judgments)

    model = svm.LinearSVC(max_iter=10000, verbose=1)
    model.fit(feature_deltas, predictor_deltas)  
    upload_model(model, model_name, means, std_devs, feature_set)

# qid:0: kindle*1
# qid:1: blue ray*1
# qid:2: star wars*1
# qid:3: macbook*1
# qid:4: headphones*1
# qid:5: bluray*1
# qid:6: lcd tv*1
# qid:7: dryer*1
# qid:8: nook*1
# qid:9: ipad*1
# qid:10: star trek*1
# qid:11: iphone*1
# qid:12: transformers dark of the moon*1
# qid:13: transformers dvd*1

5	qid:0	 # 814916011896	kindle
4	qid:0	 # 9781400532711	kindle
3	qid:0	 # 814916014361	kindle
3	qid:0	 # 814916011872	kindle
3	qid:0	 # 814916014590	kindle
3	qid:0	 # 814916014385	kindle
2	qid:0	 # 813580017906	kindle
2	qid:0	 # 814916010202	kindle
2	qid:0	 # 814916010240	kindle
2	qid:0	 # 9781400532650	kindle
2	qid:0	 # 813580018514	kindle
2	qid:0	 # 814916010288	kindle
2	qid:0	 # 813580018491	kindle
2	qid:0	 # 814916010219	kindle
2	qid:0	 # 92636257521	kindle
2	qid:0	 # 814916014606	kindle
2	qid:0	 # 813580015261	kindle
2	qid:0	 # 814916010233	kindle
1	qid:0	 # 813580018361	kindle
1	qid:0	 # 843404077182	kindle
1	qid:0	 # 813580015247	kindle
1	qid:0	 # 885909457595	kindle
1	qid:0	 # 716829772249	kindle
1	qid:0	 # 813580015933	kindle
1	qid:0	 # 813580015698	kindle
1	qid:0	 # 813580015155	kindle
1	qid:0	 # 813580015223	kindle
0	qid:0	 # 813580015636	kindle
0	qid:0	 # 813580015292	kindle
0	qid:0	 # 813580016107	kindle
8	qid:1	 # 27242815414	blue ray
5	qid:1	 # 600603132872	blue ray
4	qid:1	 # 827396513927	blue ray
4	qid:1	 # 600603141003	blue ray
3	qid:1	 # 885170033412	blue ray
3	qid:1	 # 883929140855	blue ray
2	qid:1	 # 24543672067	blue ray
2	qid:1	 # 813774010904	blue ray
2	qid:1	 # 36725617605	blue ray
2	qid:1	 # 786936817232	blue ray
2	qid:1	 # 36725608443	blue ray
2	qid:1	 # 719192580374	blue ray
2	qid:1	 # 25192073007	blue ray
2	qid:1	 # 75993997675	blue ray
2	qid:1	 # 36725608894	blue ray
2	qid:1	 # 786936817218	blue ray
2	qid:1	 # 711719983156	blue ray
2	qid:1	 # 22265052211	blue ray
2	qid:1	 # 883929197965	blue ray
2	qid:1	 # 25192107191	blue ray
1	qid:1	 # 22265004517	blue ray
1	qid:1	 # 58231306590	blue ray
1	qid:1	 # 58231300826	blue ray
1	qid:1	 # 23942972389	blue ray
1	qid:1	 # 826663129342	blue ray
1	qid:1	 # 885170038875	blue ray
1	qid:1	 # 786936805017	blue ray
1	qid:1	 # 711719804604	blue ray
1	qid:1	 # 36725608511	blue ray
0	qid:1	 # 27242809710	blue ray
4	qid:2	 # 23272342630	star wars
4	qid:2	 # 24543742180	star wars
3	qid:2	 # 24543742098	star wars
3	qid:2	 # 23272341381	star wars
2	qid:2	 # 885370332889	star wars
2	qid:2	 # 886973561621	star wars
2	qid:2	 # 14633169522	star wars
2	qid:2	 # 24543781875	star wars
2	qid:2	 # 708431390614	star wars
2	qid:2	 # 884116069973	star wars
2	qid:2	 # 30206742121	star wars
2	qid:2	 # 24543742074	star wars
2	qid:2	 # 883929154012	star wars
2	qid:2	 # 23272342654	star wars
2	qid:2	 # 24543560067	star wars
2	qid:2	 # 883929200887	star wars
1	qid:2	 # 14633169546	star wars
1	qid:2	 # 24543023920	star wars
1	qid:2	 # 24543263739	star wars
1	qid:2	 # 400032015667	star wars
1	qid:2	 # 886971404722	star wars
1	qid:2	 # 23272332389	star wars
1	qid:2	 # 24543559856	star wars
1	qid:2	 # 827969295021	star wars
1	qid:2	 # 738572121921	star wars
1	qid:2	 # 883929094561	star wars
1	qid:2	 # 827969295120	star wars
0	qid:2	 # 24543203094	star wars
0	qid:2	 # 827969422021	star wars
0	qid:2	 # 97361455044	star wars
5	qid:3	 # 885909436705	macbook
4	qid:3	 # 885909464043	macbook
3	qid:3	 # 885909431618	macbook
3	qid:3	 # 885909454396	macbook
3	qid:3	 # 885909432257	macbook
3	qid:3	 # 885909437023	macbook
3	qid:3	 # 885909436002	macbook
3	qid:3	 # 885909464036	macbook
3	qid:3	 # 885909463626	macbook
3	qid:3	 # 885909398577	macbook
2	qid:3	 # 885909377794	macbook
2	qid:3	 # 885909282883	macbook
2	qid:3	 # 885909398584	macbook
1	qid:3	 # 4712052310841	macbook
1	qid:3	 # 885909262236	macbook
1	qid:3	 # 94922876065	macbook
1	qid:3	 # 13803133929	macbook
1	qid:3	 # 27242827790	macbook
1	qid:3	 # 886112432140	macbook
1	qid:3	 # 650450759814	macbook
0	qid:3	 # 13803123470	macbook
0	qid:3	 # 36725729872	macbook
0	qid:3	 # 36725617421	macbook
0	qid:3	 # 28287033924	macbook
0	qid:3	 # 99802970796	macbook
0	qid:3	 # 27242836228	macbook
0	qid:3	 # 600603123061	macbook
0	qid:3	 # 400027951918	macbook
0	qid:3	 # 73502031827	macbook
0	qid:3	 # 29521842944	macbook
6	qid:4	 # 803238004525	headphones
6	qid:4	 # 27242799127	headphones
3	qid:4	 # 709483027855	headphones
3	qid:4	 # 615104173552	headphones
2	qid:4	 # 27242740389	headphones
2	qid:4	 # 878615035287	headphones
2	qid:4	 # 848447000005	headphones
2	qid:4	 # 46838046100	headphones
2	qid:4	 # 673796100317	headphones
2	qid:4	 # 17817553476	headphones
2	qid:4	 # 885909412006	headphones
2	qid:4	 # 723755894396	headphones
2	qid:4	 # 21331350091	headphones
2	qid:4	 # 731855020454	headphones
2	qid:4	 # 46838044106	headphones
2	qid:4	 # 615104194557	headphones
1	qid:4	 # 600603124570	headphones
1	qid:4	 # 50644614705	headphones
1	qid:4	 # 27242708242	headphones
1	qid:4	 # 743878021295	headphones
1	qid:4	 # 848447000135	headphones
1	qid:4	 # 17817542371	headphones
1	qid:4	 # 878615035294	headphones
1	qid:4	 # 27242745100	headphones
1	qid:4	 # 27242798236	headphones
1	qid:4	 # 709483027848	headphones
1	qid:4	 # 878615025226	headphones
1	qid:4	 # 27242807785	headphones
1	qid:4	 # 848447000081	headphones
1	qid:4	 # 27242801585	headphones
9	qid:5	 # 600603141003	bluray
5	qid:5	 # 27242813908	bluray
5	qid:5	 # 600603132872	bluray
2	qid:5	 # 36725608894	bluray
2	qid:5	 # 25192107191	bluray
2	qid:5	 # 36725608511	bluray
2	qid:5	 # 605342041546	bluray
2	qid:5	 # 883929140855	bluray
2	qid:5	 # 786936817232	bluray
2	qid:5	 # 22265004517	bluray
2	qid:5	 # 719192580374	bluray
2	qid:5	 # 24543742180	bluray
2	qid:5	 # 36725608443	bluray
2	qid:5	 # 23942973416	bluray
2	qid:5	 # 36725617605	bluray
2	qid:5	 # 27242815414	bluray
2	qid:5	 # 826663129342	bluray
1	qid:5	 # 58231306590	bluray
1	qid:5	 # 27242809758	bluray
1	qid:5	 # 36725608436	bluray
1	qid:5	 # 36725617506	bluray
1	qid:5	 # 711719983156	bluray
1	qid:5	 # 186156000290	bluray
1	qid:5	 # 58231300826	bluray
1	qid:5	 # 23942972389	bluray
1	qid:5	 # 786936805017	bluray
1	qid:5	 # 25192073007	bluray
1	qid:5	 # 885170038875	bluray
1	qid:5	 # 711719804604	bluray
0	qid:5	 # 27242809710	bluray
6	qid:6	 # 36725236271	lcd tv
5	qid:6	 # 883393003458	lcd tv
4	qid:6	 # 36725234789	lcd tv
3	qid:6	 # 882777064009	lcd tv
3	qid:6	 # 22265004289	lcd tv
2	qid:6	 # 27242817197	lcd tv
2	qid:6	 # 729507810218	lcd tv
1	qid:6	 # 885170042704	lcd tv
1	qid:6	 # 812491010310	lcd tv
1	qid:6	 # 812491010334	lcd tv
1	qid:6	 # 827912072969	lcd tv
1	qid:6	 # 74000373105	lcd tv
1	qid:6	 # 884483335329	lcd tv
1	qid:6	 # 827912068467	lcd tv
1	qid:6	 # 827912068474	lcd tv
1	qid:6	 # 97278016000	lcd tv
0	qid:6	 # 696211503197	lcd tv
0	qid:6	 # 605342041546	lcd tv
0	qid:6	 # 882777064207	lcd tv
0	qid:6	 # 885170042667	lcd tv
0	qid:6	 # 13803112610	lcd tv
0	qid:6	 # 729507813059	lcd tv
0	qid:6	 # 22265004258	lcd tv
0	qid:6	 # 719192579996	lcd tv
0	qid:6	 # 600603139758	lcd tv
0	qid:6	 # 36725235564	lcd tv
0	qid:6	 # 22265004302	lcd tv
0	qid:6	 # 723755834491	lcd tv
4	qid:7	 # 856751002097	dryer
4	qid:7	 # 48231011396	dryer
3	qid:7	 # 84691226727	dryer
3	qid:7	 # 74108007469	dryer
3	qid:7	 # 12505525766	dryer
3	qid:7	 # 36725578241	dryer
3	qid:7	 # 48231011402	dryer
3	qid:7	 # 12505527456	dryer
2	qid:7	 # 74108096487	dryer
2	qid:7	 # 36725561977	dryer
2	qid:7	 # 84691226703	dryer
2	qid:7	 # 665331101927	dryer
2	qid:7	 # 783722274422	dryer
2	qid:7	 # 14381196320	dryer
2	qid:7	 # 77283045400	dryer
2	qid:7	 # 74108056764	dryer
1	qid:7	 # 883049066905	dryer
1	qid:7	 # 12505451713	dryer
1	qid:7	 # 36172950027	dryer
1	qid:7	 # 883929085118	dryer
7	qid:8	 # 600603135088	nook
5	qid:8	 # 9781400532711	nook
4	qid:8	 # 9781400532650	nook
3	qid:8	 # 813580016961	nook
2	qid:8	 # 9780594033899	nook
2	qid:8	 # 814916014606	nook
2	qid:8	 # 9781400532629	nook
2	qid:8	 # 9780594033929	nook
2	qid:8	 # 716829772249	nook
2	qid:8	 # 9781616874452	nook
1	qid:8	 # 813580017937	nook
1	qid:8	 # 9780594033912	nook
1	qid:8	 # 660543005827	nook
1	qid:8	 # 814916011896	nook
1	qid:8	 # 814916011872	nook
1	qid:8	 # 9781400532667	nook
1	qid:8	 # 9780594033936	nook
1	qid:8	 # 9781616826055	nook
1	qid:8	 # 814916010240	nook
1	qid:8	 # 600603135101	nook
1	qid:8	 # 813580016824	nook
1	qid:8	 # 36725234642	nook
1	qid:8	 # 716829782446	nook
1	qid:8	 # 843404077427	nook
1	qid:8	 # 92636257521	nook
1	qid:8	 # 813580013571	nook
1	qid:8	 # 813580017043	nook
1	qid:8	 # 813580017074	nook
0	qid:8	 # 813580017067	nook
4	qid:9	 # 885909457588	ipad
4	qid:9	 # 885909472376	ipad
3	qid:9	 # 821793013776	ipad
3	qid:9	 # 635753493559	ipad
2	qid:9	 # 722868830062	ipad
2	qid:9	 # 885909471812	ipad
2	qid:9	 # 92636260712	ipad
2	qid:9	 # 886111271283	ipad
2	qid:9	 # 885909457632	ipad
2	qid:9	 # 885909393404	ipad
2	qid:9	 # 885909457601	ipad
2	qid:9	 # 716829772249	ipad
2	qid:9	 # 885909457595	ipad
2	qid:9	 # 600603132827	ipad
2	qid:9	 # 27242798236	ipad
2	qid:9	 # 884962753071	ipad
2	qid:9	 # 886111287055	ipad
2	qid:9	 # 635753490879	ipad
2	qid:9	 # 843404073153	ipad
1	qid:9	 # 610839379408	ipad
3	qid:10	 # 50644555190	star trek
3	qid:10	 # 97360719840	star trek
3	qid:10	 # 97361427546	star trek
3	qid:10	 # 97360719741	star trek
3	qid:10	 # 13964123296	star trek
3	qid:10	 # 97360719642	star trek
2	qid:10	 # 30206696622	star trek
2	qid:10	 # 97363485049	star trek
2	qid:10	 # 738572128920	star trek
2	qid:10	 # 97360717648	star trek
2	qid:10	 # 97361166247	star trek
2	qid:10	 # 13964123302	star trek
2	qid:10	 # 5051368213637	star trek
2	qid:10	 # 29757201560	star trek
1	qid:10	 # 46034897179	star trek
1	qid:10	 # 883929139446	star trek
1	qid:10	 # 742725280410	star trek
1	qid:10	 # 635753490541	star trek
1	qid:10	 # 97361301747	star trek
1	qid:10	 # 31398121381	star trek
1	qid:10	 # 27242829619	star trek
1	qid:10	 # 97360743548	star trek
1	qid:10	 # 97360719147	star trek
1	qid:10	 # 791149900183	star trek
1	qid:10	 # 52824803121	star trek
1	qid:10	 # 97361311944	star trek
1	qid:10	 # 12505226021	star trek
1	qid:10	 # 50694439860	star trek
1	qid:10	 # 36725578340	star trek
1	qid:10	 # 36725235564	star trek
4	qid:11	 # 885909510344	iphone
3	qid:11	 # 600603140631	iphone
3	qid:11	 # 885909538041	iphone
3	qid:11	 # 705105070803	iphone
3	qid:11	 # 660715215252	iphone
2	qid:11	 # 56035362545	iphone
2	qid:11	 # 883929153121	iphone
2	qid:11	 # 884720011757	iphone
2	qid:11	 # 722868816622	iphone
2	qid:11	 # 885909538058	iphone
2	qid:11	 # 885909528912	iphone
2	qid:11	 # 636926048583	iphone
2	qid:11	 # 722868787595	iphone
2	qid:11	 # 600603125065	iphone
2	qid:11	 # 685387305636	iphone
2	qid:11	 # 899794006745	iphone
2	qid:11	 # 600603132827	iphone
2	qid:11	 # 97855069917	iphone
1	qid:11	 # 885909528905	iphone
1	qid:11	 # 885909420445	iphone
1	qid:11	 # 600603133237	iphone
1	qid:11	 # 885909420438	iphone
1	qid:11	 # 843404064434	iphone
1	qid:11	 # 885909538027	iphone
1	qid:11	 # 885909459834	iphone
1	qid:11	 # 885909343874	iphone
1	qid:11	 # 885909397723	iphone
1	qid:11	 # 885909394494	iphone
1	qid:11	 # 885909459858	iphone
0	qid:11	 # 885909538034	iphone
6	qid:12	 # 97360810042	transformers dark of the moon
5	qid:12	 # 400192926087	transformers dark of the moon
4	qid:12	 # 97363560449	transformers dark of the moon
3	qid:12	 # 97363532149	transformers dark of the moon
3	qid:12	 # 93624956037	transformers dark of the moon
2	qid:12	 # 47875842328	transformers dark of the moon
2	qid:12	 # 47875841420	transformers dark of the moon
2	qid:12	 # 25192107191	transformers dark of the moon
2	qid:12	 # 786936817218	transformers dark of the moon
1	qid:12	 # 36725235564	transformers dark of the moon
1	qid:12	 # 24543701538	transformers dark of the moon
1	qid:12	 # 47875841369	transformers dark of the moon
1	qid:12	 # 47875841406	transformers dark of the moon
1	qid:12	 # 24543750949	transformers dark of the moon
1	qid:12	 # 47875842335	transformers dark of the moon
3	qid:13	 # 97363560449	transformers dvd
3	qid:13	 # 97361312804	transformers dvd
3	qid:13	 # 97361312743	transformers dvd
3	qid:13	 # 97363455349	transformers dvd
3	qid:13	 # 97361372389	transformers dvd
3	qid:13	 # 97363532149	transformers dvd
0	qid:13	 # 879862003517	transformers dvd
0	qid:13	 # 93624995012	transformers dvd
0	qid:13	 # 47875842328	transformers dvd
0	qid:13	 # 708056579746	transformers dvd
0	qid:13	 # 47875332911	transformers dvd
0	qid:13	 # 47875819733	transformers dvd
0	qid:13	 # 708056579739	transformers dvd
0	qid:13	 # 879862003524	transformers dvd
0	qid:13	 # 93624974918	transformers dvd
0	qid:13	 # 47875839090	transformers dvd

## Also Chapter 10 - Perform a test / train split on the SDBN data

This function is broken out from the model training. It lets us train a model on one set of data (reusing the chapter 10 training code), reserving test queries for evaluation.

In [52]:
from math import floor

def test_train_split(sdbn, train):
    """Split queries in sdbn into train / test split with `train` proportion going to training set."""
    queries = sdbn.index.get_level_values('query').unique().copy().tolist()
    random.shuffle(queries)
    num_queries = len(queries)
    split_point = floor(num_queries * train)
    
    train_queries = queries[:split_point]
    test_queries = queries[split_point:]
    return sdbn.loc[train_queries, :], sdbn.loc[test_queries]

## Chapter 10 - Search Code

Also from Chapter 10, a simple function to search using the LTR model and return a list of search results.

In [53]:
def search(query, model_name, at=10, log=False):
    """ Search using test_model LTR model (see rq to and qf params below). """
    fuzzy_kws = "~" + ' ~'.join(query.split())
    squeezed_kws = "".join(query.split())
    
    rq = \
        "{!ltr reRankDocs=60000 reRankWeight=10.0 model=" + model_name \
        + " efi.fuzzy_keywords=\"" + fuzzy_kws + "\" " \
        + "efi.squeezed_keywords=\"" + squeezed_kws +"\" " \
        + "efi.keywords=\"" + query + "\"}"

    request = {
            "fields": ["upc", "name", "manufacturer", "score"],
            "limit": at,
            "params": {
              "rq": rq,
              "qf": "name name_ngram upc manufacturer shortDescription longDescription",
              "defType": "edismax",
              "q": query
            }
        }
    
    if log:
        print(request)

    resp = requests.post('http://aips-solr:8983/solr/products/select', 
                                   json=request).json()
    
    if log:
        print(resp)
        
    search_results = resp['response']['docs']

    for rank, result in enumerate(search_results):
        result['rank'] = rank
        
    return search_results

def search_and_grade(query, model_name, sdbn, desired=[]):
    results = search(query, model_name, at=10)
    results = pd.DataFrame(results)
    results['desired'] = False
    for upc in desired:
        results.loc[results['upc'] == upc, 'desired'] = True
        
    sdbn_query = sdbn.loc[query].copy().reset_index()
    return results.merge(sdbn_query, left_on='upc', right_on='doc_id', how='left')

## Evaluate the model on the test set

This function computes the model's performance on a set of test queries.

In [54]:
def eval_model(test, model_name, sdbn, at=10):
    queries = test.index.get_level_values('query').unique()
    collection = "products"
    
    query_results = {}
    
    for query in queries:
        search_results = search(query, model_name, at=at)

        results = pd.DataFrame(search_results).reset_index()
        judgments = sdbn.loc[query, :].copy().reset_index()
        judgments['doc_id'] = judgments['doc_id'].astype(str)
        if len(results) == 0:
            print(f"No Results for {query}")
            query_results[query] = 0
        else:
            graded_results = results.merge(judgments, left_on='upc', right_on='doc_id', how='left')
            print(graded_results)
            graded_results[['clicked', 'examined', 'grade', 'beta_grade']] = graded_results[['clicked', 'examined', 'grade', 'beta_grade']].fillna(0)
            grade_results = graded_results.drop('doc_id', axis=1)

            query_results[query] = (graded_results['beta_grade'].sum() / at)
    return query_results

## Listing 12.2 - model training

We wrap all the important decisions from chapter 10 in a few lines

In [55]:
random.seed(1234)

feature_set = [
    {
      "name" : "long_description_bm25",
      "store": "test",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : {
        "q" : "longDescription:(${keywords})"
      }
    },
    {
      "name" : "short_description_constant",
      "store": "test",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : {
        "q" : "shortDescription:(${keywords})^=1"
      }
    }
]

train, test = test_train_split(sdbn, train=0.8)
ranksvm_ltr(train, model_name='test1', feature_set=feature_set)
eval_model(test, model_name='test1')

Searching products [Status: 200]
Missing doc 600603124570
Searching products [Status: 200]
Missing doc 600603141003
Missing doc 600603132872
Searching products [Status: 200]
Missing doc 600603123061
Searching products [Status: 200]
Missing doc 600603139758
Searching products [Status: 200]
Searching products [Status: 200]
Searching products [Status: 200]
Missing doc 600603135101
Searching products [Status: 200]
Missing doc 600603132827
Searching products [Status: 200]
Searching products [Status: 200]
Missing doc 600603140631
Missing doc 600603125065
Missing doc 600603132827
Missing doc 600603133237
Searching products [Status: 200]
[LibLinear]PUT http://aips-solr:8983/solr/products/schema/model-store
{
  "store": "test",
  "class": "org.apache.solr.ltr.model.LinearModel",
  "name": "test1",
  "features": [
    {
      "name": "long_description_bm25",
      "norm": {
        "class": "org.apache.solr.ltr.norm.StandardNormalizer",
        "params": {
          "avg": "1.0558415082876724",
          "std": "1.323187487061058"
        }
      }
    },
    {
      "name": "short_description_constant",
      "norm": {
        "class": "org.apache.solr.ltr.norm.StandardNormalizer",
        "params": {
          "avg": "0.20205479452054795",
          "std": "0.4015328810095225"
        }
      }
    }
  ],
  "params": {
    "weights": {
      "long_description_bm25": 0.02289568306728161,
      "short_description_constant": -0.05699562840469446
    }
  }
}

TypeError: eval_model() missing 1 required positional argument: 'sdbn'

In [56]:
# # What the user wants, but never visible! Never gets clicked!
# These are the widescreen transformers dvds of the hollywood movies
desired_movies = ["97360724240", "97360722345", "97368920347"] 
result = search_and_grade('transformers dvd', 'test1', sdbn, desired_movies)
upcs1 = result['upc']
result

,upc,name,manufacturer,score,rank,desired,doc_id,clicked,examined,grade,beta_grade
0,25193328625,Atonement - Fullscreen Dubbed Subtitle AC3 - DVD,\N,0.017951,0,False,NaN,NaN,NaN,NaN,NaN
1,18713578310,Jungle Book/Aladdin - DVD,\N,0.017951,1,False,NaN,NaN,NaN,NaN,NaN
2,14381243925,Twilight Zone: Season 1 [The Definitive Editio...,\N,0.017951,2,False,NaN,NaN,NaN,NaN,NaN
3,97363416043,Mean Girls - Widescreen Collector's Subtitle -...,\N,0.017951,3,False,NaN,NaN,NaN,NaN,NaN
4,20286155379,Hello Rockview [CD & DVD] [Digipak] - CD,Sleep It Off,0.017951,4,False,NaN,NaN,NaN,NaN,NaN
5,16861801663,Blackening (CD+DVD) (Special) - CD,Roadrunner Records,0.017951,5,False,NaN,NaN,NaN,NaN,NaN
6,24543051008,The Rocky Horror Picture Show - Widescreen Sub...,\N,0.017951,6,False,NaN,NaN,NaN,NaN,NaN
7,97368861848,Dora the Explorer: Dora's Ultimate Adventures ...,\N,0.017951,7,False,NaN,NaN,NaN,NaN,NaN
8,24543110408,Vanishing Point - Widescreen - DVD,\N,0.017951,8,False,NaN,NaN,NaN,NaN,NaN
9,97368884045,Hogan's Heroes: The Complete Second Season - 4...,\N,0.017951,9,False,NaN,NaN,NaN,NaN,NaN

## Listing 12.3

Train a model that performs better offline called `test2`

In [57]:
random.seed(1234)


feature_set_better = [
    {
      "name" : "name_fuzzy",
      "store": "test",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : { 
        "q" : "name_ngram:(${keywords})"
      }
    },
    {
      "name" : "name_pf2",
      "store": "test",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : { 
        "q" : "{!edismax qf=name name pf2=name}(${keywords})"
      }
    },
    {
      "name" : "shortDescription_pf2",
      "store": "test",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : { 
        "q" : "{!edismax qf=shortDescription pf2=shortDescription}(${keywords})"
      }
    },
]

sdbn = sessions_to_sdbn(sessions) # chapter 11: generate training data

train, test = test_train_split(sdbn, train=0.8)
ranksvm_ltr(train, 'test2', feature_set_better) # chapter 10: train the model -> the 'LTR engine'
eval2 = eval_model(test, 'test2', sdbn)

eval2

Searching products [Status: 200]
Missing doc 600603124570
Searching products [Status: 200]
Missing doc 600603141003
Missing doc 600603132872
Searching products [Status: 200]
Missing doc 600603123061
Searching products [Status: 200]
Missing doc 600603139758
Searching products [Status: 200]
Searching products [Status: 200]
Searching products [Status: 200]
Missing doc 600603135101
Searching products [Status: 200]
Missing doc 600603132827
Searching products [Status: 200]
Searching products [Status: 200]
Missing doc 600603140631
Missing doc 600603125065
Missing doc 600603132827
Missing doc 600603133237
Searching products [Status: 200]
[LibLinear]

/opt/conda/lib/python3.7/site-packages/sklearn/svm/_base.py:947: ConvergenceWarning:

Liblinear failed to converge, increase the number of iterations.

PUT http://aips-solr:8983/solr/products/schema/model-store
{
  "store": "test",
  "class": "org.apache.solr.ltr.model.LinearModel",
  "name": "test2",
  "features": [
    {
      "name": "name_fuzzy",
      "norm": {
        "class": "org.apache.solr.ltr.norm.StandardNormalizer",
        "params": {
          "avg": "2.4331423202054783",
          "std": "1.4936218654796216"
        }
      }
    },
    {
      "name": "name_pf2",
      "norm": {
        "class": "org.apache.solr.ltr.norm.StandardNormalizer",
        "params": {
          "avg": "2.981331874657533",
          "std": "3.5369474213302845"
        }
      }
    },
    {
      "name": "shortDescription_pf2",
      "norm": {
        "class": "org.apache.solr.ltr.norm.StandardNormalizer",
        "params": {
          "avg": "0.5265155200684927",
          "std": "1.564823160506588"
        }
      }
    }
  ],
  "params": {
    "weights": {
      "name_fuzzy": 0.04738334251825029,
      "name_pf2": 0.14553197785451133,
      "shortDescription_pf2": -0.07088439431737459
    }
  }
}
   index           upc                                               name  \
0      0   13132318394                      Blue Valentine - Blu-ray Disc
1      1  603497983438  Blue Man Group: How to Be a Megastar Live! - B...
2      2   43396263635  Blue Streak - Widescreen Dubbed Subtitle AC3 -...
3      3  741952696094  Rookie Blue: The Complete First Season (4 Disc...
4      4   43396349827  Blue Streak & National Security (2 Disc) - 2 P...
5      5   25192101021  Blue Crush 2 - Widescreen Dubbed Subtitle AC3 ...
6      6   14381614954  Powder Blue - Widescreen Subtitle AC3 Dolby Dt...
7      7  883929118670  Deep Blue Sea - Widescreen Subtitle AC3 Dolby ...
8      8   95121534770                  Sportline - Pedometer - Gray/Blue
9      9   25192100734                                       Blu-ray Disc

  manufacturer     score  rank doc_id  clicked  examined  grade  beta_grade
0           \N  0.084982     0    NaN      NaN       NaN    NaN         NaN
1           \N  0.034068     1    NaN      NaN       NaN    NaN         NaN
2           \N  0.031848     2    NaN      NaN       NaN    NaN         NaN
3           \N  0.029886     3    NaN      NaN       NaN    NaN         NaN
4           \N  0.027900     4    NaN      NaN       NaN    NaN         NaN
5           \N  0.027717     5    NaN      NaN       NaN    NaN         NaN
6           \N  0.027717     6    NaN      NaN       NaN    NaN         NaN
7           \N  0.026002     7    NaN      NaN       NaN    NaN         NaN
8    Sportline  0.019114     8    NaN      NaN       NaN    NaN         NaN
9           \N  0.008513     9    NaN      NaN       NaN    NaN         NaN
   index           upc                                               name  \
0      0   77283045400                    Hello Kitty - Hair Dryer - Pink
1      1  856751002097                   Practecol - Dryer Balls (2-Pack)
2      2   74108222084                   Conair - Infiniti Pro Hair Dryer
3      3   12505527418                 Smart Choice - Gas Dryer Connector
4      4  813843010972            CHI Air - Ceramic Hair Dryer - Fire Red
5      5  813843010989           CHI Air - Ceramic Hair Dryer - Pure Pink
6      6   12505451713    Frigidaire - Semi-Rigid Dryer Vent Kit - Silver
7      7   84691226734         GE - 6.0 Cu. Ft. 3-Cycle Gas Dryer - White
8      8   48231011419         LG - 7.1 Cu. Ft. 7-Cycle Gas Dryer - White
9      9   74590830125  Remington - Hair Dryer with Tourmaline - Black...

   manufacturer     score  rank        doc_id  clicked  examined     grade  \
0   Hello Kitty  0.061501     0   77283045400    276.0    1625.0  0.169846
1     Practecol  0.057961     1  856751002097    133.0     323.0  0.411765
2        Conair  0.057961     2           NaN      NaN       NaN       NaN
3  Smart Choice  0.056142     3           NaN      NaN       NaN       NaN
4       CHI Air  0.047038     4           NaN      NaN       NaN       NaN
5       CHI Air  0.046490     5           NaN      NaN       NaN       NaN
6    Frigidaire  0.041778     6   12505451713    355.0    2707.0  0.131141
7            GE  0.038617     7           NaN      NaN       NaN       NaN
8            LG  0.038617     8           NaN      NaN       NaN       NaN
9     Remington  0.036970     9           NaN      NaN       NaN       NaN

   beta_grade
0    0.170031
1    0.405405
2         NaN
3         NaN
4         NaN
5         NaN
6    0.131395
7         NaN
8         NaN
9         NaN
   index           upc                                               name  \
0      0   47875841369     Transformers: Dark of the Moon - PlayStation 3
1      1   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
2      2   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
3      3   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
4      4   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
5      5   47875841406  Transformers: Dark of the Moon Autobots - Nint...
6      6  400192926087  Transformers: Dark of the Moon - Original Soun...
7      7   93624956037  Transformers: Dark of the Moon - Original Soun...
8      8   47875841420  Transformers: Dark of the Moon Decepticons - N...
9      9   97363560449  Transformers: Dark of the Moon - Widescreen Du...

  manufacturer     score  rank        doc_id  clicked  examined     grade  \
0   Activision  1.203492     0   47875841369       37       251  0.147410
1           \N  1.168771     1   97360810042      412       642  0.641745
2           \N  1.168771     2   97360810042      412       642  0.641745
3           \N  1.168771     3   97360810042      412       642  0.641745
4           \N  1.168771     4   97360810042      412       642  0.641745
5   Activision  1.138982     5   47875841406       80       626  0.127796
6      Reprise  1.132177     6  400192926087       62       129  0.480620
7      Reprise  1.132177     7   93624956037       41       154  0.266234
8   Activision  1.128924     8   47875841420      217       960  0.226042
9           \N  1.071174     9   97363560449       96       243  0.395062

   beta_grade
0    0.149425
1    0.634969
2    0.634969
3    0.634969
4    0.634969
5    0.128931
6    0.460432
7    0.262195
8    0.225773
9    0.387352

{'blue ray': 0.0,
 'dryer': 0.07068309073137659,
 'transformers dark of the moon': 0.41539851567397756}

In [58]:
# # What the user wants, but never visible! Never gets clicked!
# These are the widescreen transformers dvds of the hollywood movies
desired_movies = ['97360724240', '97363560449', '97363532149', '97360810042']
result = search_and_grade('transformers dvd', 'test2', sdbn, desired_movies)
upcs2 = result['upc']
result

,upc,name,manufacturer,score,rank,desired,doc_id,clicked,examined,grade,beta_grade
0,32429037763,Transformers - DVD,\N,0.341141,0,False,NaN,NaN,NaN,NaN,NaN
1,97368920347,The Transformers: The Movie - DVD,\N,0.085697,1,False,NaN,NaN,NaN,NaN,NaN
2,826663126044,Transformers Japanese Collection: Headmasters ...,\N,0.076749,2,False,NaN,NaN,NaN,NaN,NaN
3,826663114218,"Transformers: Season 2, Vol. 1 - DVD",\N,0.074654,3,False,NaN,NaN,NaN,NaN,NaN
4,97037110192,"Transformers: Serie Megatron, Vol. 1 - DVD",\N,0.072194,4,False,NaN,NaN,NaN,NaN,NaN
5,97363455349,Transformers - Widescreen Dubbed Subtitle AC3 ...,\N,0.068298,5,False,97363455349,664.0,1937.0,0.342798,0.342065
6,97361372389,Transformers - Widescreen Dubbed Subtitle AC3 ...,\N,0.068298,6,False,97361372389,622.0,1919.0,0.324127,0.323484
7,826663129892,Transformers Prime: Darkness Rising - Fullscre...,\N,0.068298,7,False,NaN,NaN,NaN,NaN,NaN
8,97361312743,Transformers - Widescreen Dubbed Subtitle AC3 ...,\N,0.068298,8,False,97361312743,657.0,1916.0,0.342902,0.342160
9,400173151118,Transformers Cybertron The Ultimate Collection...,\N,0.067366,9,False,NaN,NaN,NaN,NaN,NaN

In [59]:
def live_user_query(query, model_name,
                    desired, meh,
                    desired_prob=0.15, 
                    meh_prob=0.03, 
                    uninteresting_prob=0.01,
                    quit_per_rank_prob=0.2):
    """Live user for 'query' where purchase probability depends on if 
       products upc is in one of three sets.
       
       Users purchase a single product per session.    
       
       Users quit with `quit_per_rank_prod` after scanning each rank
       
       """   
    search_results = search(query, model_name, at=10)

    results = pd.DataFrame(search_results).reset_index()
    for doc in results.to_dict(orient="records"):
        clicked = False
        draw = random.random()
        
        upc = doc['upc']

        if upc in desired:
            if draw < desired_prob:
                return True
        elif upc in meh:
            if draw < meh_prob:
                return True
        else:
            if draw < uninteresting_prob:
                return True
            
        if random.random() < quit_per_rank_prob:
            return False
    
    return False

In [60]:
random.seed(1234)

wants_to_purchase = ['97360724240', '97363560449', '97363532149', '97360810042']
might_purchase = ['97361312743', '97363455349', '97361372389']

model1_purchases = 0
model2_purchases = 0

def a_or_b_model(query, a_model, b_model):
    """Randomly assign this user to a or b"""
    draw = random.random()
    
    user_made_purchase = False
    model_name = None
    if draw < 0.5:
        model_name=a_model
    else:
        model_name=b_model
        
    purchase_made = live_user_query(query=query, 
                                   model_name=model_name,
                                   desired=wants_to_purchase,
                                   meh=might_purchase)
    return (model_name, purchase_made)


NUM_USERS=1000
purchases = {'test1': 0, 'test2': 0}
for _ in range(0, NUM_USERS):
    
    model_name, purchase_made = a_or_b_model(query='transformers dvd', 
                                             a_model='test1',
                                             b_model='test2')
    if purchase_made:
        purchases[model_name]+= 1 
    
purchases

{'test1': 21, 'test2': 17}

In [61]:
model1_purchases, model2_purchases

(0, 0)

In [62]:
all_upcs = set(upcs1.tolist() + upcs2.tolist())
len(all_upcs)

20

In [63]:
upcs2.tolist()

['32429037763',
 '97368920347',
 '826663126044',
 '826663114218',
 '97037110192',
 '97363455349',
 '97361372389',
 '826663129892',
 '97361312743',
 '400173151118']

In [64]:
sessions['query'].unique()

array(['kindle', 'blue ray', 'star wars', 'macbook', 'headphones',
       'bluray', 'lcd tv', 'dryer', 'nook', 'ipad', 'star trek', 'iphone',
       'transformers dark of the moon', 'transformers dvd'], dtype=object)

In [65]:
#1. Just use the queries we have to do a test/train split
#2. Simulate the user for A/B test

In [66]:
sessions[sessions['query'] == 'headphones']

        sess_id       query  rank        doc_id  clicked
0         30002  headphones   0.0  803238004525     True
1         30002  headphones   1.0  615104173552    False
2         30002  headphones   2.0  848447000135    False
3         30002  headphones   3.0   27242807785    False
4         30002  headphones   4.0  878615035287    False
...         ...         ...   ...           ...      ...
149995    35001  headphones  25.0   27242798236    False
149996    35001  headphones  26.0  709483027855    False
149997    35001  headphones  27.0   46838046100    False
149998    35001  headphones  28.0   27242799127    False
149999    35001  headphones  29.0  848447000135    False

[150000 rows x 5 columns]

## Active Learning (to be moved)

In [67]:
sdbn = sessions_to_sdbn(sessions,
                        prior_weight=10,
                        prior_grade=0.2)
sdbn.loc['transformers dvd']

              clicked  examined     grade  beta_grade
doc_id
97363560449       677      1946  0.347893    0.347137
97361312804       662      1920  0.344792    0.344041
97361312743       657      1916  0.342902    0.342160
97363455349       664      1937  0.342798    0.342065
97361372389       622      1919  0.324127    0.323484
97363532149       623      1927  0.323300    0.322664
879862003517       37      1698  0.021790    0.022834
93624995012        32      1673  0.019127    0.020202
47875842328        29      1663  0.017438    0.018530
708056579746       26      1664  0.015625    0.016726
47875332911        24      1630  0.014724    0.015854
47875819733        24      1679  0.014294    0.015394
708056579739       23      1659  0.013864    0.014979
879862003524       23      1685  0.013650    0.014749
93624974918        19      1653  0.011494    0.012628
47875839090        16      1669  0.009587    0.010721

## New helper: show the features for each SDBN entry

This function does the same steps as `ranksvm_ltr` but skips model training, returning just the logged feature vector of each example for this query.

In [68]:
def sdbn_with_features(sdbn, feature_set):
    """Log features alongside sdbn into a dataframe"""
    judgments = sdbn_to_judgments(sdbn)
    judgments_path = 'retrotech_judgments.txt'
    write_judgments(judgments, judgments_path)
    
    # For more on this code, review Chapter 10
    requests.delete('http://aips-solr:8983/solr/products/schema/feature-store/explore')
    
    resp = requests.put('http://aips-solr:8983/solr/products/schema/feature-store',
                    json=feature_set)

    ftr_logger=FeatureLogger(client, index='products', feature_set='explore', id_field='upc')
    
    with judgments_open(judgments_path) as judgment_list:
        for qid, query_judgments in groupby(judgments, key=lambda j: j.qid):
            ftr_logger.log_for_qid(judgments=query_judgments, 
                                   qid=qid,
                                   keywords=judgment_list.keywords(qid))

    logged_judgments = ftr_logger.logged
    means, std_devs, normed_judgments = normalize_features(logged_judgments)
    feature_deltas, predictor_deltas = pairwise_transform(normed_judgments)
    features, predictors = judgments_to_nparray(logged_judgments)
    logged_judgments_dataframe = pd.concat([pd.DataFrame(predictors),
                                            pd.DataFrame(features)], 
                                           axis=1,
                                           ignore_index=True)
    columns = {idx + 2: ftr['name'] for idx, ftr in enumerate(feature_set)}
    columns[0] = 'grade'
    columns[1] = 'qid'
    
    qid_to_query = {}
    for j in logged_judgments:
        qid_to_query[j.qid] = j.keywords
        
    qid_to_query = pd.DataFrame(qid_to_query.values()).reset_index().rename(columns={'index': 'qid', 0: 'query'})
    
    print(qid_to_query)
    logged_judgments_dataframe = logged_judgments_dataframe.rename(columns=columns)
    print(logged_judgments_dataframe)
    logged_judgments_dataframe = logged_judgments_dataframe.merge(qid_to_query, how='left', on='qid')
    cols_order = ['query', 'grade'] + [ftr['name'] for idx, ftr in enumerate(feature_set)]
    logged_judgments_dataframe['grade'] = logged_judgments_dataframe['grade'] / 10.0 
    return logged_judgments_dataframe[cols_order].sort_values('query')

## Raw feature values -> whats missing?
(put in book)

Another way of formulating `presentation_bias` is to look at the kinds of documents not being shown to users, so we can strategically show those to users. Below we show the value of each feature in `feature_set` for each document in the sdbn judgments.

In [69]:

    
    
sdbn = sessions_to_sdbn(sessions,
                        prior_weight=10,
                        prior_grade=0.2)

feature_set = [
    {
      "name" : "long_desc_match",
      "store": "explore",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : {
        "q" : "longDescription:(${keywords})^=1"
      }
    },
    {
      "name" : "short_desc_match",
      "store": "explore",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : {
        "q" : "shortDescription:(${keywords})^=1"
      }
    },
    {
      "name" : "name_match",
      "store": "explore",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : {
        "q" : "name:(${keywords})^=1"
      }
    },
    {
      "name" : "has_promotion",
      "store": "explore",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : {
        "q" : "promotion_b:true"
      }
    },
]


sdbn_ftrs = sdbn_with_features(sdbn, feature_set)
transformers_dvds = sdbn_ftrs[sdbn_ftrs['query'] == 'transformers dvd']
transformers_dvds

Searching products [Status: 200]
Searching products [Status: 200]
Missing doc 600603132872
Missing doc 600603141003
Searching products [Status: 200]
Searching products [Status: 200]
Missing doc 600603123061
Searching products [Status: 200]
Missing doc 600603124570
Searching products [Status: 200]
Missing doc 600603141003
Missing doc 600603132872
Searching products [Status: 200]
Missing doc 600603139758
Searching products [Status: 200]
Searching products [Status: 200]
Missing doc 600603135101
Searching products [Status: 200]
Missing doc 600603132827
Searching products [Status: 200]
Searching products [Status: 200]
Missing doc 600603140631
Missing doc 600603125065
Missing doc 600603132827
Missing doc 600603133237
Searching products [Status: 200]
Searching products [Status: 200]
    qid                          query
0     0                         kindle
1     1                       blue ray
2     2                      star wars
3     3                        macbook
4     4                     headphones
5     5                         bluray
6     6                         lcd tv
7     7                          dryer
8     8                           nook
9     9                           ipad
10   10                      star trek
11   11                         iphone
12   12  transformers dark of the moon
13   13               transformers dvd
     grade  qid  long_desc_match  short_desc_match  name_match  has_promotion
0        5    0              1.0               0.0         1.0        0.00000
1        4    0              0.0               0.0         0.0        0.00957
2        3    0              1.0               1.0         1.0        0.00000
3        3    0              1.0               0.0         1.0        0.00000
4        3    0              1.0               1.0         1.0        0.00000
..     ...  ...              ...               ...         ...            ...
350      0   13              1.0               0.0         1.0        0.00000
351      0   13              1.0               1.0         1.0        0.00000
352      0   13              1.0               1.0         1.0        0.00000
353      0   13              0.0               0.0         1.0        0.00000
354      0   13              1.0               0.0         1.0        0.00000

[355 rows x 6 columns]

,query,grade,long_desc_match,short_desc_match,name_match,has_promotion
352,transformers dvd,0.0,1.0,1.0,1.0,0.0
351,transformers dvd,0.0,1.0,1.0,1.0,0.0
350,transformers dvd,0.0,1.0,0.0,1.0,0.0
349,transformers dvd,0.0,1.0,0.0,1.0,0.0
348,transformers dvd,0.0,1.0,0.0,1.0,0.0
347,transformers dvd,0.0,1.0,0.0,1.0,0.0
346,transformers dvd,0.0,0.0,0.0,1.0,0.0
343,transformers dvd,0.3,0.0,0.0,1.0,0.0
344,transformers dvd,0.3,0.0,0.0,1.0,0.0
342,transformers dvd,0.3,0.0,0.0,1.0,0.0
341,transformers dvd,0.3,0.0,0.0,1.0,0.0
340,transformers dvd,0.3,0.0,0.0,1.0,0.0
339,transformers dvd,0.3,0.0,0.0,1.0,0.0
353,transformers dvd,0.0,0.0,0.0,1.0,0.0
345,transformers dvd,0.0,0.0,1.0,1.0,0.0
354,transformers dvd,0.0,1.0,0.0,1.0,0.0

## Train Gaussian Process Regressor

We train data on just the `transformers_dvd` training data. 

NOTE we could also train on the full sdbn data, and see globally what's missing. However it's often convenient to zero in on specific queries to round out their training data.

In [70]:
from sklearn.gaussian_process import GaussianProcessRegressor

y_train = transformers_dvds['grade']
x_train = transformers_dvds[['long_desc_match', 'short_desc_match',
                             'name_match', 'has_promotion']]

gpr=GaussianProcessRegressor()
gpr.fit(x_train, y_train)

GaussianProcessRegressor(alpha=1e-10, copy_X_train=True, kernel=None,
                         n_restarts_optimizer=0, normalize_y=False,
                         optimizer='fmin_l_bfgs_b', random_state=None)

## Listing 12.7: Predict on every value

Here `gpr` predicts on every possible feature value. This lets us analyze which set of feature values to use when exploring with users.

In [71]:
zero_or_one = [0,1]

index = pd.MultiIndex.from_product([zero_or_one] * 4,
                                   names = ['long_desc_match', 'short_desc_match',
                                             'name_match', 'has_promotion'])
explore_options = pd.DataFrame(index=index).reset_index()

predictions_with_std = gpr.predict(explore_options[['long_desc_match', 'short_desc_match',
                                                    'name_match', 'has_promotion']], return_std=True)
explore_options['predicted_grade'] = predictions_with_std[0]
explore_options['prediction_stddev'] = predictions_with_std[1]

explore_options.sort_values('prediction_stddev')

/opt/conda/lib/python3.7/site-packages/sklearn/gaussian_process/_gpr.py:362: UserWarning:

Predicted variances smaller than 0. Setting those variances to 0.

,long_desc_match,short_desc_match,name_match,has_promotion,predicted_grade,prediction_stddev
2,0,0,1,0,2.250005e-01,0.000000
6,0,1,1,0,3.760210e-07,0.000000
10,1,0,1,0,-4.309300e-08,0.000000
14,1,1,1,0,-3.718255e-07,0.000000
8,1,0,0,0,-1.573196e-07,0.795058
11,1,0,1,1,-1.573196e-07,0.795058
0,0,0,0,0,1.364695e-01,0.795059
3,0,0,1,1,1.364695e-01,0.795059
4,0,1,0,0,8.029912e-08,0.795060
7,0,1,1,1,8.029912e-08,0.795060
12,1,1,0,0,-1.175880e-07,0.795060
15,1,1,1,1,-1.175880e-07,0.795060
1,0,0,0,1,8.277291e-02,0.929873
9,1,0,0,1,-1.021803e-07,0.929873
13,1,1,0,1,-7.772397e-08,0.929873
5,0,1,0,1,9.020036e-08,0.929873

## Calculate Expected Improvement

We use [Expected Improvement](https://distill.pub/2020/bayesian-optimization/) scoring to select candidates for exploration within the `transformers dvd` query.

In [72]:
from scipy.stats import norm


theta = 0.6
explore_options['opportunity'] = explore_options['predicted_grade'] - sdbn['grade'].mean() - theta


explore_options['prob_of_improvement'] = norm.cdf( (explore_options['opportunity']) / explore_options['prediction_stddev'])

explore_options['expected_improvement'] = explore_options['opportunity'] * explore_options['prob_of_improvement'] \
 + explore_options['prediction_stddev'] * norm.pdf( explore_options['opportunity'] / explore_options['prediction_stddev'])



explore_options.sort_values('expected_improvement', ascending=False).head()

,long_desc_match,short_desc_match,name_match,has_promotion,predicted_grade,prediction_stddev,opportunity,prob_of_improvement,expected_improvement
1,0,0,0,1,8.277291e-02,0.929873,-0.698354,0.226320,0.121754
5,0,1,0,1,9.020036e-08,0.929873,-0.781127,0.200444,0.104104
13,1,1,0,1,-7.772397e-08,0.929873,-0.781127,0.200444,0.104104
9,1,0,0,1,-1.021803e-07,0.929873,-0.781127,0.200444,0.104104
0,0,0,0,0,1.364695e-01,0.795059,-0.644658,0.208732,0.093761

In [73]:
sdbn.loc['transformers dvd']

              clicked  examined     grade  beta_grade
doc_id
97363560449       677      1946  0.347893    0.347137
97361312804       662      1920  0.344792    0.344041
97361312743       657      1916  0.342902    0.342160
97363455349       664      1937  0.342798    0.342065
97361372389       622      1919  0.324127    0.323484
97363532149       623      1927  0.323300    0.322664
879862003517       37      1698  0.021790    0.022834
93624995012        32      1673  0.019127    0.020202
47875842328        29      1663  0.017438    0.018530
708056579746       26      1664  0.015625    0.016726
47875332911        24      1630  0.014724    0.015854
47875819733        24      1679  0.014294    0.015394
708056579739       23      1659  0.013864    0.014979
879862003524       23      1685  0.013650    0.014749
93624974918        19      1653  0.011494    0.012628
47875839090        16      1669  0.009587    0.010721

In [74]:
explore_vect = explore_options.sort_values('expected_improvement', ascending=False).head().iloc[0][['long_desc_match',
                                                                                     'short_desc_match', 
                                                                                     'name_match',
                                                                                     'has_promotion']]
explore_vect

long_desc_match     0.0
short_desc_match    0.0
name_match          0.0
has_promotion       1.0
Name: 1, dtype: float64

## Create a query to fetch 'explore' docs

Based on the selected features from the GaussianProcessRegressor, we create a query to fetch a doc that contains those features.

In [75]:
def explore_query(explore_vect, query):
    config_explore = {'long_desc_match':  {'field': 'long_description', 'query_dependent': True},
                      'short_desc_match': {'field': 'short_description', 'query_dependent': True},
                      'name_match':       {'field': 'name', 'query_dependent': True},
                      'has_promotion':    {'field': 'promotion_b', 'query_dependent': False, '1_value': 'true'}
                     }
    clauses = []
    for col_name, config in config_explore.items():
        if explore_vect[col_name] == 1.0:
            clause = f"+{config['field']}:"
            if config['query_dependent']:
                clause += f"({query})"
            else:
                clause += f"{config['1_value']}"
            clauses.append(clause)
    return ' '.join(clauses)
    
    # fields = ['long_description', 'short_description', 'name', 'is_promotion']
    # field_value = ['match', 'match', 'match', True]

explore_query(explore_vect, 'transformers dvd')

'+promotion_b:true'

In [76]:
import random
random.seed(1234)

explore_vect = explore_options.sort_values('expected_improvement', ascending=False).head().iloc[0][['long_desc_match',
                                                                                     'short_desc_match', 
                                                                                     'name_match',
                                                                                     'has_promotion']]

def explore(query, explore_vect, log=False):
    """ Explore according to the provided explore vector, select
        a random doc from that group."""
    solr_query = explore_query(explore_vect, query)
    
    draw = random.random()

    request = {
            "fields": ["upc", "name", "manufacturer", "score"],
            "limit": 1,
            "params": {
              "q": solr_query,
              "sort": f"random_{draw} DESC"
            }
        }
    
    resp = requests.post('http://aips-solr:8983/solr/products/select', 
                                   json=request).json()
    
    return resp['response']['docs'][0]['upc']

explore_upc = explore('transformers dvd', explore_vect)
explore_upc

'97360810042'

## Simulate new sessions with the new data

We simulate new sessions, if the upc is in `might_purchase` or `wants_to_purchase`, we set it to 'clicked' with a given probability.

In [77]:
import random
random.seed(1234)

wants_to_purchase = ['97360724240', '97363560449', '97363532149', '97360810042', '97368920347']
might_purchase = ['97361312743', '97363455349', '97361372389']
explore_on_rank = 2.0

with_explore_sessions = sessions.copy()
for i in range(0, 500):
    print(i)
    explore_upc = explore('transformers dvd', explore_vect)
    sess_ids = list(set(sessions[sessions['query'] == 'transformers dvd']['sess_id'].tolist()))
    random.shuffle(sess_ids)
    sess_ids[0]
    new_session = sessions[sessions['sess_id'] == sess_ids[0]].copy()
    new_session['sess_id'] = 100000 + i
    new_session.loc[new_session['rank'] == explore_on_rank, 'doc_id'] = explore_upc
    draw = random.random()
    new_session.loc[new_session['rank'] == explore_on_rank, 'clicked'] = False
    if explore_upc in wants_to_purchase:
        if draw < 0.8:
            print(f"click {explore_upc}")
            new_session.loc[new_session['rank'] == explore_on_rank, 'clicked'] = True
    elif explore_upc in might_purchase:
        if draw < 0.5:
            print(f"click {explore_upc}")
            new_session.loc[new_session['rank'] == explore_on_rank, 'clicked'] = True
    else:
        if draw < 0.01:
            print(f"click {explore_upc}")
            new_session.loc[new_session['rank'] == explore_on_rank, 'clicked'] = True

    with_explore_sessions = pd.concat([with_explore_sessions, new_session])

with_explore_sessions

0
click 97360810042
1
2
3
4
click 9781400532711
5
6
7
8
9
10
11
12
13
14
15
16
17
click 97360810042
18
click 97360724240
19
20
click 97360810042
21
22
23
24
25
26
click 97360810042
27
28
click 97368920347
29
30
31
32
33
click 97360810042
34
35
36
click 97360810042
37
38
39
40
41
click 97360810042
42
click 97360810042
43
click 97368920347
44
45
46
47
48
49
50
click 97360810042
51
52
53
54
55
56
click 36725236271
57
58
59
60
61
62
63
click 97360810042
64
65
66
67
68
click 97360810042
69
click 97368920347
70
71
click 97360810042
72
click 97360724240
73
74
75
click 97360810042
76
77
78
79
80
click 97360810042
81
82
83
84
85
86
87
88
89
90
click 97360810042
91
92
93
94
95
96
97
click 97368920347
98
99
100
101
click 97368920347
102
click 97360724240
103
104
105
106
107
108
109
110
click 97360810042
111
112
113
114
click 97360724240
115
116
117
118
119
click 97368920347
120
121
122
123
124
125
126
127
128
129
click 97360724240
130
click 97360810042
131
132
133
134
135
click 97360724240
136
137
138
click 97368920347
139
140
141
142
click 97360810042
143
144
145
146
147
click 97360810042
148
149
150
151
152
click 27242815414
153
154
155
click 97360810042
156
click 97360810042
157
158
159
click 97360810042
160
161
162
163
164
165
click 97360810042
166
167
168
click 97360810042
169
170
171
172
173
click 97360810042
174
175
176
177
178
click 97360810042
179
180
181
182
183
184
click 97360810042
185
click 97368920347
186
click 97360810042
187
188
click 97360810042
189
190
click 97368920347
191
192
click 97368920347
193
194
click 97360724240
195
196
197
198
199
200
201
202
203
204
click 97360810042
205
206
207
208
209
210
211
212
213
click 97360810042
214
215
216
217
click 97368920347
218
click 97360810042
219
220
221
222
223
224
click 97360810042
225
226
227
228
click 97360810042
229
230
231
232
click 97360810042
233
234
235
236
237
238
click 97368920347
239
click 97368920347
240
241
242
click 97368920347
243
click 97368920347
244
245
246
247
248
249
250
251
252
click 97368920347
253
click 97360810042
254
click 97360810042
255
256
257
258
259
click 97360724240
260
261
262
263
264
265
click 97360810042
266
267
268
click 97368920347
269
270
271
272
273
274
275
276
277
278
279
280
281
click 97360724240
282
283
284
285
286
click 97360810042
287
288
click 97368920347
289
click 97360810042
290
291
292
293
294
295
click 97368920347
296
click 97360724240
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
click 97368920347
314
315
316
317
318
319
click 97360810042
320
321
322
323
324
325
326
327
click 97368920347
328
329
330
331
332
333
334
335
336
337
338
339
click 97360810042
340
341
342
343
344
345
346
347
348
349
350
click 97368920347
351
click 97360810042
352
click 97368920347
353
click 97368920347
354
355
356
click 97368920347
357
358
click 97360810042
359
360
click 97360810042
361
click 97360810042
362
363
click 97368920347
364
click 97360810042
365
click 97360724240
366
367
368
369
370
371
click 97360810042
372
373
374
375
376
377
378
click 97360810042
379
380
381
382
383
384
click 97360810042
385
386
387
click 97368920347
388
389
390
391
392
393
394
click 97360810042
395
396
click 97360810042
397
398
399
400
401
402
click 97368920347
403
404
click 97368920347
405
click 97360724240
406
407
408
click 97368920347
409
410
411
412
413
click 97360810042
414
415
416
click 97368920347
417
418
419
420
421
422
423
424
click 97360810042
425
426
427
428
429
430
431
432
433
434
435
436
click 97368920347
437
click 97360810042
438
439
440
441
click 97368920347
442
click 97368920347
443
444
445
446
447
448
449
click 97368920347
450
451
452
click 97360724240
453
454
455
456
click 97360724240
457
458
459
click 97360810042
460
461
462
463
464
465
466
467
click 97360810042
468
click 97368920347
469
470
471
472
473
474
475
click 97360810042
476
477
478
479
click 97360810042
480
481
482
483
click 97368920347
484
485
486
487
488
489
490
491
click 97368920347
492
click 97360810042
493
494
495
click 97360810042
496
497
498
click 97360810042
499

       sess_id             query  rank         doc_id  clicked
0        15002            kindle   0.0  9781400532711     True
1        15002            kindle   1.0   814916011872    False
2        15002            kindle   2.0   813580018491    False
3        15002            kindle   3.0   814916014606    False
4        15002            kindle   4.0   813580017906    False
...        ...               ...   ...            ...      ...
25083   100499  transformers dvd  11.0    47875839090    False
25084   100499  transformers dvd  12.0    93624995012    False
25085   100499  transformers dvd  13.0    97361372389    False
25086   100499  transformers dvd  14.0    47875332911    False
25087   100499  transformers dvd  15.0   708056579746    False

[1863000 rows x 5 columns]

In [78]:
with_explore_sessions[with_explore_sessions['sess_id'] == 100049]

       sess_id             query  rank        doc_id  clicked
12064   100049  transformers dvd   0.0   47875819733    False
12065   100049  transformers dvd   1.0   47875839090    False
12066   100049  transformers dvd   2.0   36725236271    False
12067   100049  transformers dvd   3.0  708056579739    False
12068   100049  transformers dvd   4.0   97363532149    False
12069   100049  transformers dvd   5.0   97363560449    False
12070   100049  transformers dvd   6.0   97361312804    False
12071   100049  transformers dvd   7.0  879862003517    False
12072   100049  transformers dvd   8.0   93624974918    False
12073   100049  transformers dvd   9.0   47875332911    False
12074   100049  transformers dvd  10.0   97361312743    False
12075   100049  transformers dvd  11.0  708056579746    False
12076   100049  transformers dvd  12.0   97363455349    False
12077   100049  transformers dvd  13.0   93624995012    False
12078   100049  transformers dvd  14.0   47875842328    False
12079   100049  transformers dvd  15.0   97361372389    False

## Examine new sessions

Have we added any new docs that appear to be getting more clicks?

In [84]:
new_sdbn = sessions_to_sdbn(with_explore_sessions,
                            prior_weight=10,
                            prior_grade=0.2)
new_sdbn.loc['transformers dvd']

               clicked  examined     grade  beta_grade
doc_id
97368920347         38        43  0.883721    0.754717
97360810042         62        75  0.826667    0.752941
97360724240         14        17  0.823529    0.592593
97363455349        731      2115  0.345626    0.344941
97361312804        726      2107  0.344566    0.343883
97363560449        733      2133  0.343647    0.342977
97361312743        708      2076  0.341040    0.340364
97363532149        692      2099  0.329681    0.329066
97361372389        673      2094  0.321394    0.320817
9781400532711        1        17  0.058824    0.111111
27242815414          1        19  0.052632    0.103448
36725236271          1        32  0.031250    0.071429
879862003517        37      1864  0.019850    0.020811
93624995012         36      1829  0.019683    0.020663
47875842328         32      1807  0.017709    0.018712
708056579746        29      1813  0.015996    0.017005
47875332911         27      1790  0.015084    0.016111
879862003524        25      1828  0.013676    0.014690
47875819733         25      1834  0.013631    0.014642
708056579739        23      1818  0.012651    0.013676
93624974918         20      1784  0.011211    0.012263
47875839090         17      1817  0.009356    0.010400
27242799127          0        22  0.000000    0.062500
97360722345          0        12  0.000000    0.090909
27242813908          0         9  0.000000    0.105263
803238004525         0        15  0.000000    0.080000
600603135088         0        20  0.000000    0.066667
883393003458         0        26  0.000000    0.055556

## New heavily clicked doc is promoted!

```
      {
        "upc":"97360810042",
        "name":"Transformers: Dark of the Moon - Blu-ray Disc",
        "name_ngram":"Transformers: Dark of the Moon - Blu-ray Disc",
        "name_omit_norms":"Transformers: Dark of the Moon - Blu-ray Disc",
        "name_txt_en_split":"Transformers: Dark of the Moon - Blu-ray Disc",
        "manufacturer":"\\N",
        "shortDescription":"\\N",
        "longDescription":"\\N",
        "promotion_b":true,
        "id":"72593b1c-313b-4f25-a4f2-04eae29d858b",
        "_version_":1710117636920049669
      },
```

In [85]:
random.seed(1234)

# {'blue ray': 0.0,
# 'dryer': 0.07068309073137659,
# 'headphones': 0.06426395939086295,
# 'dark of moon': 0.25681268708548055,
# 'transformers dvd': 0.10077083021678328}

feature_set_better = [
    {
      "name" : "name_fuzzy",
      "store": "test",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : { 
        "q" : "name_ngram:(${keywords})"
      }
    },
    {
      "name" : "name_pf2",
      "store": "test",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : { 
        "q" : "{!edismax qf=name name pf2=name}(${keywords})"
      }
    },
    {
      "name" : "shortDescription_pf2",
      "store": "test",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : { 
        "q" : "{!edismax qf=shortDescription pf2=shortDescription}(${keywords})"
      }
    },
    {
      "name" : "has_promotion",
      "store": "test",
      "class" : "org.apache.solr.ltr.feature.SolrFeature",
      "params" : {
        "q" : "promotion_b:true^=1.0"
      }
    }
]

train, test = test_train_split(new_sdbn, train=0.8)
ranksvm_ltr(train, model_name='test3', feature_set=feature_set_better)
eval_model(test, model_name='test3', sdbn=new_sdbn)

Searching products [Status: 200]
Missing doc 600603124570
Searching products [Status: 200]
Missing doc 600603141003
Missing doc 600603132872
Searching products [Status: 200]
Missing doc 600603123061
Searching products [Status: 200]
Missing doc 600603139758
Searching products [Status: 200]
Searching products [Status: 200]
Searching products [Status: 200]
Missing doc 600603135101
Searching products [Status: 200]
Missing doc 600603132827
Searching products [Status: 200]
Searching products [Status: 200]
Missing doc 600603140631
Missing doc 600603125065
Missing doc 600603132827
Missing doc 600603133237
Searching products [Status: 200]
[LibLinear]PUT http://aips-solr:8983/solr/products/schema/model-store
{
  "store": "test",
  "class": "org.apache.solr.ltr.model.LinearModel",
  "name": "test3",
  "features": [
    {
      "name": "name_fuzzy",
      "norm": {
        "class": "org.apache.solr.ltr.norm.StandardNormalizer",
        "params": {
          "avg": "2.3727308748355247",
          "std": "1.5109585078581653"
        }
      }
    },
    {
      "name": "name_pf2",
      "norm": {
        "class": "org.apache.solr.ltr.norm.StandardNormalizer",
        "params": {
          "avg": "2.9105133559210516",
          "std": "3.5001592081071458"
        }
      }
    },
    {
      "name": "shortDescription_pf2",
      "norm": {
        "class": "org.apache.solr.ltr.norm.StandardNormalizer",
        "params": {
          "avg": "0.513763121578947",
          "std": "1.5376323556666"
        }
      }
    },
    {
      "name": "has_promotion",
      "norm": {
        "class": "org.apache.solr.ltr.norm.StandardNormalizer",
        "params": {
          "avg": "0.06907894736842106",
          "std": "0.2535883404237909"
        }
      }
    }
  ],
  "params": {
    "weights": {
      "name_fuzzy": 0.10326524125642346,
      "name_pf2": 0.10831093457765215,
      "shortDescription_pf2": -0.05161782466915728,
      "has_promotion": 0.09272502527684477
    }
  }
}
   index          upc                                               name  \
0      0  97360810042      Transformers: Dark of the Moon - Blu-ray Disc
1      1  97360810042      Transformers: Dark of the Moon - Blu-ray Disc
2      2  97360810042      Transformers: Dark of the Moon - Blu-ray Disc
3      3  97360810042      Transformers: Dark of the Moon - Blu-ray Disc
4      4  27242815414           Sony - 3D Wi-Fi Built-In Blu-ray  Player
5      5  27242815414           Sony - 3D Wi-Fi Built-In Blu-ray  Player
6      6  27242813908                  Sony - Wi-Fi Ready Blu-ray Player
7      7  13132318394                      Blue Valentine - Blu-ray Disc
8      8  43396263635  Blue Streak - Widescreen Dubbed Subtitle AC3 -...
9      9  25192101021  Blue Crush 2 - Widescreen Dubbed Subtitle AC3 ...

  manufacturer     score  rank       doc_id  clicked  examined  grade  \
0           \N  0.934142     0          NaN      NaN       NaN    NaN
1           \N  0.934142     1          NaN      NaN       NaN    NaN
2           \N  0.934142     2          NaN      NaN       NaN    NaN
3           \N  0.934142     3          NaN      NaN       NaN    NaN
4         Sony  0.894639     4  27242815414     42.0      42.0    1.0
5         Sony  0.894639     5  27242815414     42.0      42.0    1.0
6         Sony  0.885455     6          NaN      NaN       NaN    NaN
7           \N  0.003933     7          NaN      NaN       NaN    NaN
8           \N -0.031457     8          NaN      NaN       NaN    NaN
9           \N -0.035806     9          NaN      NaN       NaN    NaN

   beta_grade
0         NaN
1         NaN
2         NaN
3         NaN
4    0.846154
5    0.846154
6         NaN
7         NaN
8         NaN
9         NaN
   index           upc                                             name  \
0      0   27242815414         Sony - 3D Wi-Fi Built-In Blu-ray  Player
1      1   27242813908                Sony - Wi-Fi Ready Blu-ray Player
2      2   27242815414         Sony - 3D Wi-Fi Built-In Blu-ray  Player
3      3   77283045400                  Hello Kitty - Hair Dryer - Pink
4      4  856751002097                 Practecol - Dryer Balls (2-Pack)
5      5   74108222084                 Conair - Infiniti Pro Hair Dryer
6      6   12505527418               Smart Choice - Gas Dryer Connector
7      7  813843010972          CHI Air - Ceramic Hair Dryer - Fire Red
8      8  813843010989         CHI Air - Ceramic Hair Dryer - Pure Pink
9      9   12505451713  Frigidaire - Semi-Rigid Dryer Vent Kit - Silver

   manufacturer     score  rank        doc_id  clicked  examined     grade  \
0          Sony  0.891366     0           NaN      NaN       NaN       NaN
1          Sony  0.891366     1           NaN      NaN       NaN       NaN
2          Sony  0.891366     2           NaN      NaN       NaN       NaN
3   Hello Kitty -0.020409     3   77283045400    276.0    1625.0  0.169846
4     Practecol -0.021820     4  856751002097    133.0     323.0  0.411765
5        Conair -0.021820     5           NaN      NaN       NaN       NaN
6  Smart Choice -0.022546     6           NaN      NaN       NaN       NaN
7       CHI Air -0.032398     7           NaN      NaN       NaN       NaN
8       CHI Air -0.032617     8           NaN      NaN       NaN       NaN
9    Frigidaire -0.034495     9   12505451713    355.0    2707.0  0.131141

   beta_grade
0         NaN
1         NaN
2         NaN
3    0.170031
4    0.405405
5         NaN
6         NaN
7         NaN
8         NaN
9    0.131395
   index           upc                                               name  \
0      0   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
1      1   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
2      2   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
3      3   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
4      4   97360724240  Transformers: Revenge of the Fallen - Widescre...
5      5   97360722345  Transformers/Transformers: Revenge of the Fall...
6      6   97368920347                  The Transformers: The Movie - DVD
7      7   97368920347  Transformers Animated: Transform and Roll Out ...
8      8   47875841369     Transformers: Dark of the Moon - PlayStation 3
9      9  600603135088               Alpha - eReader Universal AC Charger

  manufacturer     score  rank       doc_id  clicked  examined     grade  \
0           \N  1.873529     0  97360810042    412.0     642.0  0.641745
1           \N  1.873529     1  97360810042    412.0     642.0  0.641745
2           \N  1.873529     2  97360810042    412.0     642.0  0.641745
3           \N  1.873529     3  97360810042    412.0     642.0  0.641745
4           \N  1.157411     4          NaN      NaN       NaN       NaN
5           \N  1.121036     5          NaN      NaN       NaN       NaN
6           \N  1.066024     6          NaN      NaN       NaN       NaN
7           \N  0.996973     7          NaN      NaN       NaN       NaN
8   Activision  0.883945     8  47875841369     37.0     251.0  0.147410
9        Alpha  0.871856     9          NaN      NaN       NaN       NaN

   beta_grade
0    0.634969
1    0.634969
2    0.634969
3    0.634969
4         NaN
5         NaN
6         NaN
7         NaN
8    0.149425
9         NaN

/opt/conda/lib/python3.7/site-packages/sklearn/svm/_base.py:947: ConvergenceWarning:

Liblinear failed to converge, increase the number of iterations.

{'blue ray': 0.16923076923076924,
 'dryer': 0.07068309073137659,
 'transformers dark of the moon': 0.26893025879698185}

In [86]:
test

                                            clicked  examined     grade  \
query                         doc_id
blue ray                      27242815414        42        42  1.000000
                              600603132872       46        88  0.522727
                              827396513927     1304      3381  0.385685
                              600603141003      978      2620  0.373282
                              885170033412      568      2184  0.260073
...                                             ...       ...       ...
transformers dark of the moon 24543701538       182      1232  0.147727
                              47875841369        37       251  0.147410
                              47875841406        80       626  0.127796
                              24543750949        31       313  0.099042
                              47875842335        53       681  0.077827

                                            beta_grade
query                         doc_id
blue ray                      27242815414     0.846154
                              600603132872    0.489796
                              827396513927    0.385137
                              600603141003    0.372624
                              885170033412    0.259799
...                                                ...
transformers dark of the moon 24543701538     0.148148
                              47875841369     0.149425
                              47875841406     0.128931
                              24543750949     0.102167
                              47875842335     0.079595

[65 rows x 4 columns]

In [88]:
eval_model(test, model_name='test3', sdbn=new_sdbn)

   index          upc                                               name  \
0      0  97360810042      Transformers: Dark of the Moon - Blu-ray Disc
1      1  97360810042      Transformers: Dark of the Moon - Blu-ray Disc
2      2  97360810042      Transformers: Dark of the Moon - Blu-ray Disc
3      3  97360810042      Transformers: Dark of the Moon - Blu-ray Disc
4      4  27242815414           Sony - 3D Wi-Fi Built-In Blu-ray  Player
5      5  27242815414           Sony - 3D Wi-Fi Built-In Blu-ray  Player
6      6  27242813908                  Sony - Wi-Fi Ready Blu-ray Player
7      7  13132318394                      Blue Valentine - Blu-ray Disc
8      8  43396263635  Blue Streak - Widescreen Dubbed Subtitle AC3 -...
9      9  25192101021  Blue Crush 2 - Widescreen Dubbed Subtitle AC3 ...

  manufacturer     score  rank       doc_id  clicked  examined  grade  \
0           \N  0.934142     0          NaN      NaN       NaN    NaN
1           \N  0.934142     1          NaN      NaN       NaN    NaN
2           \N  0.934142     2          NaN      NaN       NaN    NaN
3           \N  0.934142     3          NaN      NaN       NaN    NaN
4         Sony  0.894639     4  27242815414     42.0      42.0    1.0
5         Sony  0.894639     5  27242815414     42.0      42.0    1.0
6         Sony  0.885455     6          NaN      NaN       NaN    NaN
7           \N  0.003933     7          NaN      NaN       NaN    NaN
8           \N -0.031457     8          NaN      NaN       NaN    NaN
9           \N -0.035806     9          NaN      NaN       NaN    NaN

   beta_grade
0         NaN
1         NaN
2         NaN
3         NaN
4    0.846154
5    0.846154
6         NaN
7         NaN
8         NaN
9         NaN
   index           upc                                             name  \
0      0   27242815414         Sony - 3D Wi-Fi Built-In Blu-ray  Player
1      1   27242813908                Sony - Wi-Fi Ready Blu-ray Player
2      2   27242815414         Sony - 3D Wi-Fi Built-In Blu-ray  Player
3      3   77283045400                  Hello Kitty - Hair Dryer - Pink
4      4  856751002097                 Practecol - Dryer Balls (2-Pack)
5      5   74108222084                 Conair - Infiniti Pro Hair Dryer
6      6   12505527418               Smart Choice - Gas Dryer Connector
7      7  813843010972          CHI Air - Ceramic Hair Dryer - Fire Red
8      8  813843010989         CHI Air - Ceramic Hair Dryer - Pure Pink
9      9   12505451713  Frigidaire - Semi-Rigid Dryer Vent Kit - Silver

   manufacturer     score  rank        doc_id  clicked  examined     grade  \
0          Sony  0.891366     0           NaN      NaN       NaN       NaN
1          Sony  0.891366     1           NaN      NaN       NaN       NaN
2          Sony  0.891366     2           NaN      NaN       NaN       NaN
3   Hello Kitty -0.020409     3   77283045400    276.0    1625.0  0.169846
4     Practecol -0.021820     4  856751002097    133.0     323.0  0.411765
5        Conair -0.021820     5           NaN      NaN       NaN       NaN
6  Smart Choice -0.022546     6           NaN      NaN       NaN       NaN
7       CHI Air -0.032398     7           NaN      NaN       NaN       NaN
8       CHI Air -0.032617     8           NaN      NaN       NaN       NaN
9    Frigidaire -0.034495     9   12505451713    355.0    2707.0  0.131141

   beta_grade
0         NaN
1         NaN
2         NaN
3    0.170031
4    0.405405
5         NaN
6         NaN
7         NaN
8         NaN
9    0.131395
   index           upc                                               name  \
0      0   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
1      1   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
2      2   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
3      3   97360810042      Transformers: Dark of the Moon - Blu-ray Disc
4      4   97360724240  Transformers: Revenge of the Fallen - Widescre...
5      5   97360722345  Transformers/Transformers: Revenge of the Fall...
6      6   97368920347                  The Transformers: The Movie - DVD
7      7   97368920347  Transformers Animated: Transform and Roll Out ...
8      8   47875841369     Transformers: Dark of the Moon - PlayStation 3
9      9  600603135088               Alpha - eReader Universal AC Charger

  manufacturer     score  rank       doc_id  clicked  examined     grade  \
0           \N  1.873529     0  97360810042    412.0     642.0  0.641745
1           \N  1.873529     1  97360810042    412.0     642.0  0.641745
2           \N  1.873529     2  97360810042    412.0     642.0  0.641745
3           \N  1.873529     3  97360810042    412.0     642.0  0.641745
4           \N  1.157411     4          NaN      NaN       NaN       NaN
5           \N  1.121036     5          NaN      NaN       NaN       NaN
6           \N  1.066024     6          NaN      NaN       NaN       NaN
7           \N  0.996973     7          NaN      NaN       NaN       NaN
8   Activision  0.883945     8  47875841369     37.0     251.0  0.147410
9        Alpha  0.871856     9          NaN      NaN       NaN       NaN

   beta_grade
0    0.634969
1    0.634969
2    0.634969
3    0.634969
4         NaN
5         NaN
6         NaN
7         NaN
8    0.149425
9         NaN

{'blue ray': 0.16923076923076924,
 'dryer': 0.07068309073137659,
 'transformers dark of the moon': 0.26893025879698185}

In [89]:
new_transformers = new_sdbn.loc['transformers dvd']
new_transformers.loc['97368920347']

clicked       38.000000
examined      43.000000
grade          0.883721
beta_grade     0.754717
Name: 97368920347, dtype: float64

In [90]:
search('transformers dvd', 'test3', at=5)

[{'upc': '97368920347',
  'name': 'The Transformers: The Movie - DVD',
  'manufacturer': '\\N',
  'score': 1.0444574,
  'rank': 0},
 {'upc': '97368920347',
  'name': 'Transformers Animated: Transform and Roll Out - DVD',
  'manufacturer': '\\N',
  'score': 1.0266799,
  'rank': 1},
 {'upc': '97360722345',
  'name': 'Transformers/Transformers: Revenge of the Fallen: Two-Movie Mega Collection [2 Discs] - Widescreen - DVD',
  'manufacturer': '\\N',
  'score': 1.025708,
  'rank': 2},
 {'upc': '97360724240',
  'name': 'Transformers: Revenge of the Fallen - Widescreen - DVD',
  'manufacturer': '\\N',
  'score': 1.0250593,
  'rank': 3},
 {'upc': '97360810042',
  'name': 'Transformers: Dark of the Moon - Blu-ray Disc',
  'manufacturer': '\\N',
  'score': 0.9912172,
  'rank': 4}]

In [91]:
NUM_USERS=1000
purchases = {'test1': 0, 'test3': 0}
for _ in range(0, NUM_USERS):
    
    model_name, purchase_made = a_or_b_model(query='transformers dvd', 
                                             a_model='test1',
                                             b_model='test3')
    if purchase_made:
        purchases[model_name]+= 1 
    
purchases

{'test1': 21, 'test3': 190}

In [92]:

# Full, auto-exploring, auto LTR loop

# OFFLINE 
# Periodically - Train a model given current info
# Same time -> Generate explore options



# ONLINE

# return results of current model
# mix in random upcs that match the explore criteria
explore_upc = explore('transformers dvd', explore_vect)