# Direct feature logging

This notebook doesn't rely on a Learning to Rank plugin (like those found in Elasticsearch, Solr, OpenSearch).

Instead it demonstrates how to extract search engine features from sub-queries. Teams expect to do reranking outside the search engine. But it's useful to compute features that rely on statistics in the search engine.

Teams need to implement two bits of functionality:

1. At training time, how do we take training data / judgments, and pull out features from the search engine?
2. At query time, how do we pull through features with the first-pass set of search results we want to rerank?

## Setup

Before running be sure you have [setup TheMovieDB](http://localhost:8888/lab/workspaces/auto-g/tree/chapters/ch10/1.setup-the-movie-db.ipynb) with OPENSEARCH as the search engine. (Call `set_engine("OPENSEARCH")` before running)

In [1]:
from aips import get_engine, set_engine, get_ltr_engine
set_engine("OPENSEARCH")
engine = get_engine()
engine

## Feature logging time

Below would be the sort of "nightly job" that given a set of search judgments, we hydrate them with data needed for training.

In [22]:
from ltr.judgments import Judgment


sample_judgments = [
    # for 'social network' query
    Judgment(1, 'social network', '37799'),  # The Social Network
    Judgment(0, 'social network', '267752'), # #chicagoGirl
    Judgment(0, 'social network', '38408'),  # Life As We Know It
    Judgment(0, 'social network', '28303'),  # The Cheyenne Social Club
    
    # for 'star wars' query
    Judgment(1, 'star wars', '11'),     # star wars
    Judgment(1, 'star wars', '1892'),   # return of jedi
    Judgment(0, 'star wars', '54138'),  # Star Trek Into Darkness
    Judgment(0, 'star wars', '85783'),  # The Star
    Judgment(0, 'star wars', '325553')  # Battlestar Galactica
]
sample_judgments

[Judgment(grade=1,qid=1,keywords=social network,doc_id=37799,features=[],weight=1),
 Judgment(grade=0,qid=1,keywords=social network,doc_id=267752,features=[],weight=1),
 Judgment(grade=0,qid=1,keywords=social network,doc_id=38408,features=[],weight=1),
 Judgment(grade=0,qid=1,keywords=social network,doc_id=28303,features=[],weight=1),
 Judgment(grade=1,qid=2,keywords=star wars,doc_id=11,features=[],weight=1),
 Judgment(grade=1,qid=2,keywords=star wars,doc_id=1892,features=[],weight=1),
 Judgment(grade=0,qid=2,keywords=star wars,doc_id=54138,features=[],weight=1),
 Judgment(grade=0,qid=2,keywords=star wars,doc_id=85783,features=[],weight=1),
 Judgment(grade=0,qid=2,keywords=star wars,doc_id=325553,features=[],weight=1)]

### Using 'include_named_queries_score'

In Elasticsearch/OpenSearch to log features you can list a set of query, with a `_name`, and also pass `include_name_queries_score` to compute the score of any named query.

* A similar pattern would be seen in [Solr using psuedofields](https://solr.apache.org/guide/solr/latest/query-guide/common-query-parameters.html#functions-with-fl) 

Below we see how they might be computed.

In [83]:
import requests

def run_opensearch_query(query,
                         url_params=None,
                         url="http://aips-opensearch:9200/tmdb/_search"):
    resp = requests.post(url, json=query, params=url_params)
    return resp.json()


def features_for_keywords(keywords):
    """Return some BM25 features for keywords."""
    return [
        {"match": {
            "title": {
                "query": keywords,
                "_name": "title_bm25"
            }
        }},
        {"match": {
            "overview": {
                "query": keywords,
                "_name": "overview_bm25"
            }
        }}
    ]
    

def log_query(judgments, keywords):
    """Given a set of judgments for keywords, retrieve them, with feature scores."""
    params = {"include_named_queries_score": "true"}
    
    ids = []
    for judgment in judgments:
        if judgment.keywords == keywords:
            ids.append(judgment.doc_id)
            
    query = {
        "query": {
            "bool": {
                # ********
                # First filter down to what's evaluated
                # ...
                "filter": [
                    {"terms": {
                        "id": ids,
                    }}
                ],
                # ********
                # Then list features as named queries in SHOULD clause
                # ...
                "should": features_for_keywords(keywords)
            }
        },
        # ******
        # Sort on something othre than the direct score
        # (We don't care)
        "sort": "_id",
        # ****
        # Ensure we get all the results (in reality we should
        # use your search engine's deep paging capabilities)
        "size": len(ids)
        
    }
        
    resp = run_opensearch_query(query, url_params=params)
    return resp['hits']['hits']
    


results = log_query(sample_judgments, "star wars")
for result in results:
    matched_queries = {}
    if 'matched_queries' in result:
        matched_queries = result['matched_queries']
    print(result['_source']['id'], result['_source']['title'], matched_queries)

11 Star Wars {'title_bm25': 14.951998}
325553 Battlestar Galactica {}
54138 Star Trek Into Darkness {'title_bm25': 5.377082}
85783 The Star {'title_bm25': 7.01165}
1892 Return of the Jedi {'overview_bm25': 4.3300323}

## Query Time

At query time, we care about

1. Ranked by the L0 scoring factors we care about 
2. Ability to compute scores on each document as needed

In [80]:
import json

def l0_query(keywords):
    params = {"include_named_queries_score": "true"}

    # ********
    # Features executed as named queries with boost 0
    # ...

    wrapped = [{
        "bool": {
            "should": features_for_keywords(keywords),
            "boost": 0   # No impact to l0 relevance
        }
    }]
            
    query = {
        "query": {
            "bool": {

                "should": 
                    # ********
                    # First score with l0
                    # ...
                    [
                        {"multi_match": {
                            "fields": ["title^10", "overview"],
                            "query": keywords,
                            "boost": 100,
                            "_name": "l0"
                        }}
                    ]
                    # ****
                    # Add in weight 0 feature queries
                    + wrapped
            }
        },
        # ******
        # Sort on the score
        # (We don't care)
        "sort": "_score",

        
    }
    print(json.dumps(query, indent=2))
    resp = run_opensearch_query(query, url_params=params)
    return resp['hits']['hits']    
    

l0_query("star wars")

{
  "query": {
    "bool": {
      "should": [
        {
          "multi_match": {
            "fields": [
              "title^10",
              "overview"
            ],
            "query": "star wars",
            "boost": 100,
            "_name": "l0"
          }
        },
        {
          "bool": {
            "should": [
              {
                "match": {
                  "title": {
                    "query": "star wars",
                    "_name": "title_bm25"
                  }
                }
              },
              {
                "match": {
                  "overview": {
                    "query": "star wars",
                    "_name": "overview_bm25"
                  }
                }
              }
            ],
            "boost": 0
          }
        }
      ]
    }
  },
  "sort": "_score"
}

[{'_index': 'tmdb',
  '_id': 'AexVaZoBioRCwdj7Xyf3',
  '_score': 14951.998,
  '_source': {'id': '11',
   'title': 'Star Wars',
   'overview': 'Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.',
   'tagline': 'A long time ago in a galaxy far, far away...',
   'directors': ['George Lucas'],
   'cast': "Mark Hamill Harrison Ford Carrie Fisher Peter Cushing Alec Guinness Anthony Daniels Kenny Baker Peter Mayhew David Prowse James Earl Jones Phil Brown Shelagh Fraser Jack Purvis Alex McCrindle Eddie Byrne Drewe Henley Denis Lawson Garrick Hagon Jack Klaff William Hootkins Angus MacInnes Jeremy Sinden Graham Ashley Don Henderson Richard LeParmentier Leslie Schofield Michael Leader David Ankrum Mark Austin Scott Beach Lightning Bear Jon Berg Doug Beswick Paul Blake Janice Burchette Ted Burnett John Chapman Gilda Cohen Tim Condren Barry Copping Alfie Curtis Robert Davies Maria De Aragon Robert A. Denham Frazer Diamond Peter Diamond Warwick Diamond Sadie Eden Kim Falkinburg Harry Fielder Ted Gagliano Salo Gardner Steve Gawley Barry Gnome Rusty Goffe Isaac Grand Nelson Hall Reg Harding Alan Harris Frank Henson Christine Hewett Arthur Howell Tommy Ilsley Joe Johnston Annette Jones Linda Jones Joe Kaye Colin Michael Kitchens Melissa Kurtz Tiffany L. Kurtz Al Lampert Anthony Lang Laine Liska Derek Lyons Mahjoub Alf Mangan Rick McCallum Grant McCune Geoffrey Moon Mandy Morton Lorne Peterson Marcus Powell Shane Rimmer Pam Rose George Roubicek Erica Simmons Angela Staines George Stock Roy Straite Peter Sturgeon Peter Sumner John Sylla Tom Sylla Malcolm Tierney Phil Tippett Burnell Tucker Morgan Upton Jerry Walter Hal Wamsley Larry Ward Diana Sadley Way Harold Weed Bill Weston Steve 'Spaz' Williams Fred Wood Colin Higgins Ron Tarr",
   'genres': ['Adventure', 'Action', 'Science Fiction'],
   'release_date': '1977-05-25',
   'release_year': '1977',
   'poster_file': '6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg',
   'poster_path': 'https://image.tmdb.org/t/p/w185/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg',
   'vote_average': 8.2,
   'vote_count': 13546,
   'movie_image_ids': ''},
  'matched_queries': {'title_bm25': 14.951998, 'l0': 14951.998}},
 {'_index': 'tmdb',
  '_id': 'yOxVaZoBioRCwdj7YEAv',
  '_score': 12979.23,
  '_source': {'id': '667574',
   'title': 'Battle Star Wars',
   'overview': 'When the leader of the evil Coalition threatens to destroy a Rebel planet for its resources, his daughter will have no choice but to join the Rebel side and fight for what is right.',
   'tagline': '',
   'directors': ['James Thomas'],
   'cast': 'Aimee Stolte Alissa Filoramo Kate Watson Canyon Prince Justin Berti Ross Forte Alyson Gorske Benedikt Sebastian Luke Fattorusso',
   'genres': ['Science Fiction'],
   'release_date': '2020-01-28',
   'release_year': '2020',
   'poster_file': 'eFq4BxVKiU367YvFytTCkLA8E6F.jpg',
   'poster_path': 'https://image.tmdb.org/t/p/w185/eFq4BxVKiU367YvFytTCkLA8E6F.jpg',
   'vote_average': 1.6,
   'vote_count': 5,
   'movie_image_ids': ''},
  'matched_queries': {'title_bm25': 12.979231, 'l0': 12979.23}},
 {'_index': 'tmdb',
  '_id': '8OxVaZoBioRCwdj7Ya9T',
  '_score': 12979.23,
  '_source': {'id': '515773',
   'title': 'Star Wars Spoofs',
   'overview': 'The farce is strong with this one! Enjoy a hilarious collection of Star Wars movie scene spoofs and parodies that have been created over the years, including outrageous clips from Family Guy, The Simpsons, How I Met Your Mother, and more - and don\'t miss "Weird Al" Yankovic\'s one-of-a-kind music video tribute to The Phantom Menace!',
   'tagline': '',
   'directors': [],
   'cast': '"Weird Al" Yankovic Mark Hamill Will Ferrell Nick Frost Simon Pegg Eddie Izzard',
   'genres': ['Comedy'],
   'release_date': '2011-01-01',
   'release_year': '2011',
   'poster_file': 'ApEnrioR2GrkyWVXCrIzDMtgk9b.jpg',
   'poster_path': 'https://image.tmdb.org/t/p/w185/ApEnrioR2GrkyWVXCrIzDMtgk9b.jpg',
   'vote_average': 6.5,
   'vote_count': 2,
   'movie_image_ids': ''},
  'matched_queries': {'title_bm25': 12.979231,
   'overview_bm25': 9.617115,
   'l0': 12979.23}},
 {'_index': 'tmdb',
  '_id': 'TexVaZoBioRCwdj7Ycvl',
  '_score': 12790.488,
  '_source': {'id': '12180',
   'title': 'Star Wars: The Clone Wars',
   'overview': "Set between Episode II and III, The Clone Wars is the first computer animated Star Wars film. Anakin and Obi Wan must find out who kidnapped Jabba the Hutt's son and return him safely. The Seperatists will try anything to stop them and ruin any chance of a diplomatic agreement between the Hutts and the Republic.",
   'tagline': '',
   'directors': ['Dave Filoni'],
   'cast': 'Matt Lanter Ashley Eckstein James Arnold Taylor Dee Bradley Baker Tom Kane Nika Futterman Ian Abercrombie Corey Burton Catherine Taber Matthew Wood Kevin Michael Richardson David Acord Samuel L. Jackson Anthony Daniels Christopher Lee',
   'genres': ['Animation', 'Action', 'Science Fiction', 'Adventure'],
   'release_date': '2008-08-05',
   'release_year': '2008',
   'poster_file': 'd6YOfi0T9GowglzIkDQGGvGYVTM.jpg',
   'poster_path': 'https://image.tmdb.org/t/p/w185/d6YOfi0T9GowglzIkDQGGvGYVTM.jpg',
   'vote_average': 5.9,
   'vote_count': 1039,
   'movie_image_ids': ''},
  'matched_queries': {'title_bm25': 12.790488,
   'overview_bm25': 11.886568,
   'l0': 12790.488}},
 {'_index': 'tmdb',
  '_id': 'SexVaZoBioRCwdj7XwSy',
  '_score': 10269.355,
  '_source': {'id': '140607',
   'title': 'Star Wars: The Force Awakens',
   'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
   'tagline': 'Every generation has a story.',
   'directors': ['J.J. Abrams'],
   'cast': "Harrison Ford Mark Hamill Carrie Fisher Adam Driver Daisy Ridley John Boyega Oscar Isaac Lupita Nyong'o Andy Serkis Domhnall Gleeson Anthony Daniels Max von Sydow Peter Mayhew Gwendoline Christie Joonas Suotamo Pip Andersen Simon Pegg Kiran Shah Sasha Frost Pip Torrens Andrew Jack Rocky Marshall Greg Grunberg Emun Elliott Brian Vernel Yayan Ruhian Sebastian Armesto Maisie Richardson-Sellers Warwick Davis Cailey Fleming Mark Stanley Ken Leung Iko Uwais Anna Brewster Harriet Walter Tim Rose Erik Bauersfeld Mike Quinn Bill Kipsang Rotich Michael Giacchino Nigel Godrich Judah Friedlander Victor McGuire Miltos Yerolemou Billie Lourd Leanne Best Crystal Clarke Jeffery Kissoon Claudia Sermbezis Gerald W. Abrams Jim McGrath Philicia Saunders Morgan Dameron Jessica Henwick Tosin Cole James McArdle Stefan Grube Dixie Arnold Hannah John-Kamen Kate Fleetwood Thomas Brodie-Sangster Brian Herring Dave Chapman Jimmy Vee Cecep Arif Rahman Ian Whyte Daniel Craig Ewan McGregor Frank Oz Alec Guinness Tom Kane Catherine Taber Matthew Wood Samuel Witwer Meredith Salenger James Arnold Taylor Michael Donovan Devon Libran Robert Stambler Verona Blue Fred Tatasciore Patrick Correll Karen Huie Orly Schuchmacher Ben Schwartz Mark Dodson Liang Yang David Acord Jamie B. Chambers David M. Santana",
   'genres': ['Action', 'Adventure', 'Science Fiction', 'Fantasy'],
   'release_date': '2015-12-15',
   'release_year': '2015',
   'poster_file': '9rd002JS49RwDW944fF1wjU8iTV.jpg',
   'poster_path': 'https://image.tmdb.org/t/p/w185/9rd002JS49RwDW944fF1wjU8iTV.jpg',
   'vote_average': 7.4,
   'vote_count': 14345,
   'movie_image_ids': ''},
  'matched_queries': {'title_bm25': 10.269356, 'l0': 10269.355}},
 {'_index': 'tmdb',
  '_id': '1OtVaZoBioRCwdj7Xtum',
  '_score': 10269.355,
  '_source': {'id': '578870',
   'title': "Star Wars Uncut: Director's Cut",
   'overview': 'In 2009, Casey Pugh asked thousands of Internet users to remake "Star Wars: A New Hope" into a fan film, 15 seconds at a time. Contributors were allowed to recreate scenes from Star Wars however they wanted. Within just a few months SWU grew into a wild success. The creativity that poured into the project was unimaginable.',
   'tagline': 'Thousands of fans remake a classic.',
   'directors': ['Casey Pugh'],
   'cast': '',
   'genres': ['Action', 'Science Fiction'],
   'release_date': '2012-01-18',
   'release_year': '2012',
   'poster_file': '3pvEme3PUWZ3MlRZpJHbDDysEgh.jpg',
   'poster_path': 'https://image.tmdb.org/t/p/w185/3pvEme3PUWZ3MlRZpJHbDDysEgh.jpg',
   'vote_average': 8.7,
   'vote_count': 3,
   'movie_image_ids': ''},
  'matched_queries': {'title_bm25': 10.269356,
   'overview_bm25': 13.294367,
   'l0': 10269.355}},
 {'_index': 'tmdb',
  '_id': 'gOxVaZoBioRCwdj7YEEv',
  '_score': 10269.355,
  '_source': {'id': '128295',
   'title': 'Star Wars: The Legacy Revealed',
   'overview': 'Film-makers and academics discuss the use of mythology in Star Wars and the impact of the films on society',
   'tagline': 'Uncover the legend...',
   'directors': ['Kevin Burns'],
   'cast': 'George Lucas Linda Ellerbee Joan Breton Connelly Peter Jackson Camille Paglia Joseph Campbell John C. Lyden Steven Galipeau J.J. Abrams Joss Whedon Carl A. Rubino Elvis Mitchell Kevin Smith Kevin J. Wetmore Jr. Stephen Colbert Dan Rather Edward L. Hudgins Carl Silvio Leon Wieseltier Saddam Hussein Nancy Pelosi George W. Bush Adolf Hitler Jonathan Young Mary Henderson Tom Brokaw Robert Clotworthy Newt Gingrich',
   'genres': ['Documentary'],
   'release_date': '2007-05-28',
   'release_year': '2007',
   'poster_file': 'dFvudLgvS0Upn2X6wPBRnntXCBy.jpg',
   'poster_path': 'https://image.tmdb.org/t/p/w185/dFvudLgvS0Upn2X6wPBRnntXCBy.jpg',
   'vote_average': 7.9,
   'vote_count': 20,
   'movie_image_ids': ''},
  'matched_queries': {'title_bm25': 10.269356,
   'overview_bm25': 13.164458,
   'l0': 10269.355}},
 {'_index': 'tmdb',
  '_id': 'H-xVaZoBioRCwdj7YDcJ',
  '_score': 10269.355,
  '_source': {'id': '363132',
   'title': 'Star Wars Begins: A Filmumentary',
   'overview': 'Filmmaker Jamie Benning has finally finished his trilogy of documentary-commentaries. This final chapter concentrates on the first Star Wars film. Like his two previous documentaries, Building Empire (2006) and Returning to Jedi (2007), Star Wars Begins is an unofficial look at the creation of the classic movie and features deleted scenes, alternate takes and different angles, bloopers, original on set audio recordings and a huge amount of commentary from cast and crew, culled from every corner of the galaxy.',
   'tagline': '',
   'directors': ['Jamie Benning'],
   'cast': '',
   'genres': ['Documentary'],
   'release_date': '2011-02-02',
   'release_year': '2011',
   'poster_file': 'dVs0AahiYdy4axUnoNZ2Fl3sPxj.jpg',
   'poster_path': 'https://image.tmdb.org/t/p/w185/dVs0AahiYdy4axUnoNZ2Fl3sPxj.jpg',
   'vote_average': 5.7,
   'vote_count': 3,
   'movie_image_ids': ''},
  'matched_queries': {'title_bm25': 10.269356,
   'overview_bm25': 11.825985,
   'l0': 10269.355}},
 {'_index': 'tmdb',
  '_id': 'XOxVaZoBioRCwdj7YH2-',
  '_score': 10269.355,
  '_source': {'id': '72448',
   'title': 'Star Wars: A Musical Journey',
   'overview': 'Actor Ian McDiarmid introduces several music videos scored by the infamous Star Wars scores composed by John Williams. There are sixteen chapters in all, and are all perfectly created to show us the great music from the six films.',
   'tagline': '',
   'directors': ['Tippy Bushkin'],
   'cast': 'Ian McDiarmid',
   'genres': ['Music'],
   'release_date': '2005-05-03',
   'release_year': '2005',
   'poster_file': 'z9YDGgR5p34ODJj3N4uY7bHKU1.jpg',
   'poster_path': 'https://image.tmdb.org/t/p/w185/z9YDGgR5p34ODJj3N4uY7bHKU1.jpg',
   'vote_average': 6.6,
   'vote_count': 8,
   'movie_image_ids': ''},
  'matched_queries': {'title_bm25': 10.269356,
   'overview_bm25': 11.019284,
   'l0': 10269.355}},
 {'_index': 'tmdb',
  '_id': 'yexVaZoBioRCwdj7YE1A',
  '_score': 10269.355,
  '_source': {'id': '482287',
   'title': 'The Stars of Star Wars',
   'overview': 'Interviews with the cast of all the Star Wars films and inside info on the films.',
   'tagline': 'Interviews from the Cast',
   'directors': [],
   'cast': '',
   'genres': [],
   'release_date': '1999-10-20',
   'release_year': '1999',
   'poster_file': 'pOIccovMDv11T7GAVR0C0d3vi7G.jpg',
   'poster_path': 'https://image.tmdb.org/t/p/w185/pOIccovMDv11T7GAVR0C0d3vi7G.jpg',
   'vote_average': 5.0,
   'vote_count': 1,
   'movie_image_ids': ''},
  'matched_queries': {'title_bm25': 10.269356,
   'overview_bm25': 13.72705,
   'l0': 10269.355}}]

## Directly log all judgments

In [104]:
from ltr.judgments import judgments_open
import pandas as pd

# ****
# Directly log
all_keywords = set()
all_judgments = []
grade_lookup = {}
with judgments_open("data/ai_pow_search_judgments.txt") as judgments:
    for judgment in judgments:
        all_keywords.add(judgment.keywords)
        all_judgments.append(judgment)
        grade_lookup[(judgment.keywords, judgment.doc_id)] = judgment.grade

# ****
# Log for this query
all_logged = []
for keywords in all_keywords:
    resp = log_query(all_judgments, keywords)
    
    for hit in resp:
        doc_id = hit['_source']['id']
        ftr = {
            "keywords": keywords,
            "grade": grade_lookup[keywords, doc_id],
            "title_bm25": 0,
            "overview_bm25": 0
        }
        
        for ftr_name in ftr:
            try:
                ftr[ftr_name] = hit['matched_queries'][ftr_name]
            except KeyError:
                pass
        all_logged.append(ftr)

logged_features = pd.DataFrame(all_logged).sort_values('keywords', ascending=True)
logged_features

Parsing QID 100

              keywords  grade  title_bm25  overview_bm25
3804               300      1   13.038148       7.126570
3818               300      0    0.000000       0.000000
3817               300      0    0.000000       0.000000
3816               300      0    0.000000       0.000000
3815               300      0    0.000000       0.000000
...                ...    ...         ...            ...
1159  wolf wall street      0    0.000000       0.000000
1160  wolf wall street      0    0.000000       6.453447
1161  wolf wall street      0    0.000000       0.000000
1174  wolf wall street      0    0.000000      11.612869
1157  wolf wall street      0    0.000000       7.969057

[3855 rows x 4 columns]

## Train a linear model on features

Train a naive model trying to predict the grade given title_bm25 and overview_bm25

In [105]:
from sklearn.linear_model import LinearRegression

# Define features (X) and target (y)
X = logged_features[["title_bm25", "overview_bm25"]]
y = logged_features["grade"]

# Fit linear regression model
model = LinearRegression()
model.fit(X, y)

LinearRegression()

### Weights of each feature 

Notice the co-efficients: (first title, than overview) on predicting `grade`

In [126]:
model.coef_

array([0.02293156, 0.00783086])

## Reranking

We take our l0, first-pass results and then rerank them using the model.

In [124]:
# hits = l0_query("the force awakens")
hits = l0_query("wonderful life")

all_ftrs = []
for hit in hits:
    ftrs = {"title_bm25": 0.0,
            "overview_bm25": 0.0,
            "title": hit['_source']['title']}
    for ftr_name in ftrs:
        try: 
            ftrs[ftr_name] = hit['matched_queries'][ftr_name]
        except KeyError:
            pass
    all_ftrs.append(ftrs)
    
l0_results = pd.DataFrame(all_ftrs)
l0_results['rerank_score'] = model.predict(l0_results[['title_bm25', 'overview_bm25']])
l0_results

{
  "query": {
    "bool": {
      "should": [
        {
          "multi_match": {
            "fields": [
              "title^10",
              "overview"
            ],
            "query": "wonderful life",
            "boost": 100,
            "_name": "l0"
          }
        },
        {
          "bool": {
            "should": [
              {
                "match": {
                  "title": {
                    "query": "wonderful life",
                    "_name": "title_bm25"
                  }
                }
              },
              {
                "match": {
                  "overview": {
                    "query": "wonderful life",
                    "_name": "overview_bm25"
                  }
                }
              }
            ],
            "boost": 0
          }
        }
      ]
    }
  },
  "sort": "_score"
}

,title_bm25,overview_bm25,title,rerank_score
0,14.407387,0.000000,Wonderful Life,0.360889
1,12.506475,0.000000,Isn't Life Wonderful,0.317298
2,11.048712,2.032398,It's a Wonderful Life,0.299785
3,8.795404,0.000000,Wonderful Town,0.232198
4,8.795404,2.618285,Wilby Wonderful,0.252701
5,8.795404,1.389229,Wonderful Summer,0.243076
6,8.795404,1.629939,Wonderful World,0.244961
7,8.795404,0.000000,Mr. Wonderful,0.232198
8,8.186155,2.338284,"The Wonderful, Horrible Life of Leni Riefenstahl",0.236537
9,7.634939,0.000000,Having Wonderful Crime,0.205586