# Using SDBN Click Model To Overcome Position Bias

This section we use the _Simplified Dynamic Bayesian Network_ (SDBN) to overcome the position bias that we saw with direct Click-Thru-Rate. We consider the SDBN judgments and how they compare to just the click thru rate.

In [1]:
! cd ../data/retrotech && head signals.csv

import random
import pandas as pd
import numpy as np
import sys
sys.path.append('..')
from aips import *
from session_gen import SessionGenerator
import os
from IPython.display import display,HTML

import matplotlib.pyplot as plt
import numpy as np
# if using a Jupyter notebook, includue:
%matplotlib inline

"query_id","user","type","target","signal_time"
"u2_0_1","u2","query","nook","2019-07-31 08:49:07.3116"
"u2_1_2","u2","query","rca","2020-05-04 08:28:21.1848"
"u3_0_1","u3","query","macbook","2019-12-22 00:07:07.0152"
"u4_0_1","u4","query","Tv antenna","2019-08-22 23:45:54.1030"
"u5_0_1","u5","query","AC power cord","2019-10-20 08:27:00.1600"
"u6_0_1","u6","query","Watch The Throne","2019-09-18 11:59:53.7470"
"u7_0_1","u7","query","Camcorder","2020-02-25 13:02:29.3089"
"u9_0_1","u9","query","wireless headphones","2020-04-26 04:26:09.7198"
"u10_0_1","u10","query","Xbox","2019-09-13 16:26:12.0132"

In [4]:
def all_sessions():
    import glob
    sessions = pd.concat([pd.read_csv(f, compression='gzip')
                          for f in glob.glob('data/*_sessions.gz')])
    return sessions.rename(columns={'clicked_doc_id': 'doc_id'})
    
sessions = all_sessions()
sessions

        sess_id      query  rank        doc_id  clicked
0         35002    macbook   0.0  650450759814    False
1         35002    macbook   1.0  885909436705    False
2         35002    macbook   2.0  885909463626    False
3         35002    macbook   3.0  885909436002    False
4         35002    macbook   4.0  600603123061    False
...         ...        ...   ...           ...      ...
149995    45001  star wars  25.0  886971404722    False
149996    45001  star wars  26.0   14633169546    False
149997    45001  star wars  27.0  883929200887    False
149998    45001  star wars  28.0  884116069973    False
149999    45001  star wars  29.0  885370332889    False

[1775000 rows x 5 columns]

In [5]:
products = fetch_products(doc_ids=sessions['doc_id'].unique())

products

,image,upc,name,manufacturer,shortDescription,longDescription,id,_version_
0,"<img height=""100"" src=""../data/retrotech/image...",883929153121,Clash Of The Titans Iphone Skin Presell - DVD,\N,\N,\N,cbc2ad63-3e42-4119-b14e-0d9ee9b3445c,1772841806136868875
1,"<img height=""100"" src=""../data/retrotech/image...",882777064207,"Westinghouse - 22"" Class - lCD - 720p - 60Hz -...",Westinghouse,ENERGY STAR Qualified,This LCD HDTV supports high-definition signals...,58bd7f78-22ec-46cb-abaa-8bb2c76e5f23,1772841806145257495
2,"<img height=""100"" src=""../data/retrotech/image...",22265004302,"Toshiba - 55"" Class - LCD - 1080p - 120Hz - HDTV",Toshiba,\N,"This 55"" flat-panel LCD TV supports stunning h...",e8ef2568-0c96-47a5-b639-18bd2658eb10,1772841806157840405
3,"<img height=""100"" src=""../data/retrotech/image...",885170042704,"Panasonic - 32"" Class - LCD - 720p - 60Hz - HDTV",Panasonic,ENERGY STAR Qualified,This HDTV features 720p resolution and a 178&#...,07dad399-0369-49d7-866f-ced96968122d,1772841806170423303
4,"<img height=""100"" src=""../data/retrotech/image...",22265004258,"Toshiba - 32"" Class - LCD - 720p - 60Hz - HDTV",Toshiba,\N,"This 32"" LCD HDTV supports stunning images up ...",a6cfe274-8934-4275-8fd7-30998bfbd4e3,1772841806179860494
...,...,...,...,...,...,...,...,...
306,"<img height=""100"" src=""../data/retrotech/image...",786936817218,Pirates Of The Caribbean: On Stranger Tides (3...,\N,\N,\N,01d230b8-8bd0-4db3-ac8b-2191e9b60eb4,1772841806906523664
307,"<img height=""100"" src=""../data/retrotech/image...",97361301747,Star Trek: Fan Collectives - Fullscreen AC3 Do...,\N,\N,\N,2ace2633-e1ce-4650-adb9-7d459705a1d4,1772841806388527138
308,"<img height=""100"" src=""../data/retrotech/image...",25192073007,Blues Brothers (Rated) (Unrated) - Widescreen ...,\N,\N,\N,f3f6ae94-0dbc-4f56-9568-10c666b90dd0,1772841806543716378
309,"<img height=""100"" src=""../data/retrotech/image...",24543742180,Star Wars: The Complete Saga [9 Discs / Blu-ra...,\N,\N,\N,ceb9ef53-7e1a-4097-8d32-ad50c7427b8c,1772841807049130000
310,"<img height=""100"" src=""../data/retrotech/image...",786936817218,Pirates of the Caribbean: On Stranger Tides - ...,\N,\N,\N,b1a4daed-9e2b-4c8a-a9e9-ae7a4afedb43,1772841807196979221

# Listing 11.7

Click models overcome position bias by learning an examine probability on each ranking. SDBN tracks examines relative to the the last click. This code marks last click position per session so we can compute examine probabilities.

In [6]:
# Select all sessions for query 'dryer'
QUERY='dryer'
sdbn_sessions = sessions[sessions['query'] == QUERY].copy().set_index('sess_id')

# Mapping of sess_id -> last_click_per_session
last_click_per_session = sdbn_sessions.groupby(['clicked', 'sess_id'])['rank'].max()[True]

# Mark the last click rank in each session
sdbn_sessions['last_click_rank'] = last_click_per_session

# Set each positions examine to true or false
sdbn_sessions['examined'] = sdbn_sessions['rank'] <= sdbn_sessions['last_click_rank']

# Examine session 3
sdbn_sessions.loc[3]

         query  rank        doc_id  clicked  last_click_rank  examined
sess_id
3        dryer   0.0   12505451713    False              9.0      True
3        dryer   1.0   84691226727    False              9.0      True
3        dryer   2.0  883049066905    False              9.0      True
3        dryer   3.0   48231011396    False              9.0      True
3        dryer   4.0   74108056764    False              9.0      True
3        dryer   5.0   77283045400    False              9.0      True
3        dryer   6.0  783722274422    False              9.0      True
3        dryer   7.0  665331101927    False              9.0      True
3        dryer   8.0   14381196320     True              9.0      True
3        dryer   9.0   74108096487     True              9.0      True
3        dryer  10.0   74108007469    False              9.0     False
3        dryer  11.0   12505525766    False              9.0     False
3        dryer  12.0   48231011402    False              9.0     False
3        dryer  13.0   84691226703    False              9.0     False
3        dryer  14.0  883929085118    False              9.0     False
3        dryer  15.0   36725561977    False              9.0     False
3        dryer  16.0   36725578241    False              9.0     False
3        dryer  17.0   12505527456    False              9.0     False
3        dryer  18.0   36172950027    False              9.0     False
3        dryer  19.0  856751002097    False              9.0     False

# Listing 11.8

Aggregate clicks and examine counts

In [7]:
sdbn = sdbn_sessions[sdbn_sessions['examined']].groupby('doc_id')[['clicked', 'examined']].sum()
sdbn

              clicked  examined
doc_id
12505451713       355      2707
12505525766       268       974
12505527456       110       428
14381196320       217      1202
36172950027        97       971
36725561977       119       572
36725578241       130       477
48231011396       166       423
48231011402       213       818
74108007469       208       708
74108056764       273      1791
74108096487       235      1097
77283045400       276      1625
84691226703       408      2015
84691226727       804      2541
665331101927      270      1347
783722274422      288      1498
856751002097      133       323
883049066905      286      2138
883929085118       44       578

# Listing 11.9

We compute a grade - a probability of relevance - by dividing the clicks by examines. This is the kind of dynamic 'click thru rate' of SDBN, that accounts for whether the result was actually seen by users, not just whether it was shown on the screen.

In [8]:
# Clicks over examines

sdbn['grade'] = sdbn['clicked'] / sdbn['examined']

sdbn = sdbn.sort_values('grade', ascending=False)
sdbn

              clicked  examined     grade
doc_id
856751002097      133       323  0.411765
48231011396       166       423  0.392435
84691226727       804      2541  0.316411
74108007469       208       708  0.293785
12505525766       268       974  0.275154
36725578241       130       477  0.272537
48231011402       213       818  0.260391
12505527456       110       428  0.257009
74108096487       235      1097  0.214221
36725561977       119       572  0.208042
84691226703       408      2015  0.202481
665331101927      270      1347  0.200445
783722274422      288      1498  0.192256
14381196320       217      1202  0.180532
77283045400       276      1625  0.169846
74108056764       273      1791  0.152429
883049066905      286      2138  0.133770
12505451713       355      2707  0.131141
36172950027        97       971  0.099897
883929085118       44       578  0.076125

# Figure 11.8 source code

In [9]:
render_judged(products, sdbn, grade_col='grade', label=f"SDBN judgments for q={QUERY}")

# Figure 11.9 Source Code

In [10]:
# Mark the last click on each query's session
QUERY='transformers dark of the moon'
sdbn_sessions = sessions[sessions['query'] == QUERY].copy().set_index('sess_id')

last_click_per_session = sdbn_sessions.groupby(['clicked', 'sess_id'])['rank'].max()[True]

sdbn_sessions['last_click_rank'] = last_click_per_session
sdbn_sessions['examined'] = sdbn_sessions['rank'] <= sdbn_sessions['last_click_rank']

sdbn = sdbn_sessions[sdbn_sessions['examined']].groupby('doc_id')[['clicked', 'examined']].sum()
sdbn['grade'] = sdbn['clicked'] / sdbn['examined']

sdbn = sdbn.sort_values('grade', ascending=False)
render_judged(products, sdbn, grade_col='grade', label=f"SDBN judgments for q={QUERY}")

In [11]:
sdbn

              clicked  examined     grade
doc_id
97360810042       412       642  0.641745
400192926087       62       129  0.480620
97363560449        96       243  0.395062
97363532149        42       130  0.323077
93624956037        41       154  0.266234
47875842328       367      1531  0.239713
47875841420       217       960  0.226042
25192107191       176      1082  0.162662
786936817218      118       777  0.151866
36725235564        41       277  0.148014
24543701538       182      1232  0.147727
47875841369        37       251  0.147410
47875841406        80       626  0.127796
24543750949        31       313  0.099042
47875842335        53       681  0.077827